/* Products desktop styles */
/* Fix scrolling to Reach */
#before_ssdk {
	margin-bottom: -145px !important;
}

#ssdk {
	padding-top: 145px;
}
/* End of scrolling fix */

/* Fix scrolling to Sense */
#before_ssense {
	margin-bottom: -90px !important;
}

#ssense {
	padding-top: 90px;
}
/* End of scrolling fix */

#sassist {
	padding-bottom: 40px;
}
