@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold_0-webfont.eot');
    src: url('../fonts/opensans-bold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold_0-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold_0-webfont.woff') format('woff'),
         url('../fonts/opensans-bold_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-bold_0-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light_0-webfont.eot');
    src: url('../fonts/opensans-light_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light_0-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light_0-webfont.woff') format('woff'),
         url('../fonts/opensans-light_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light_0-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular_0-webfont.eot');
    src: url('../fonts/opensans-regular_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular_0-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular_0-webfont.woff') format('woff'),
         url('../fonts/opensans-regular_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-regular_0-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold_0-webfont.eot');
    src: url('../fonts/opensans-semibold_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold_0-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold_0-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold_0-webfont.ttf') format('truetype'),
         url('../fonts/opensans-semibold_0-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
  background: #fff;
font-family: 'open_sansregular';
  color:#2e2e2e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     
  color:#2e2e2e; font-weight:normal;
}


a {
  color: #2e2e2e;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

  
 header{ padding:12px 0; border-bottom:4px solid #4dd75a;}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #151515;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 40px;
 }

.navbar-nav>li{
  margin-left: 0;
  padding-bottom: 0;
  margin: 0 20px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  line-height: 24px;

  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .current_page_item > a,
.navbar-inverse .navbar-nav > .current_page_item > a:hover,
.navbar-inverse .navbar-nav > .current_page_item > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #c52d2f;
  color: #fff;
}

.current_page_item a{
	color:#0051c6 !important;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.current_page_item > a
 {
  background-color: #c52d2f;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}



/*************************
*******Home Page******
**************************/


.login{float:right;line-height: inherit;padding: 9px 0 0;}
.search{float:left;padding: 13px 0 0;}
 .navbar-collapse.collapse{ float:left;}
.navbar-nav>li>a{ text-transform:uppercase; color:#2e2e2e; font-size:17px;}
.login a{display:inline-block;padding:10px 40px;border-radius: 10px;background:#0051c6;color:#fff;font-size:16.5px;line-height: 14px;}
.navbar-nav>li>a:hover{ color:#0051c6;}
.login a:hover{ background:#333;}

.business_slide{height:430px;padding:0px 0 0; position:relative;background-image:url(../images/headbg.jpg); background-size:cover; background-position:center;}
.business_slide h1{font-family: 'open_sanslight';text-transform:uppercase;text-align:center;color:#2e2e2e;font-size:56px;font-weight:normal;line-height: 60px;}
.business_slide h1 span{ display:block;}

.experts_col{ padding:50px 0 0 0;}
.experts_col h2{font-family: 'open_sanslight';color:#2e2e2e;font-size:40px;font-weight:normal;padding:0 0 50px;margin:0 0 50px;border-bottom:1px solid #ababab;line-height: 45px;}
.experts_col .container{ width:1020px;}
.experts_col p{ font-size:18px;}
.experts_col_left{ float:left; width:45%;}
.experts_col_right{ float:right; width:45%;}

.sense-header{ padding:0 0 0 0; text-align:center;}
.sense-header h2{font-family: 'open_sanslight';color:#2e2e2e;font-size:40px;font-weight:normal;margin:25px 0 50px 0;line-height: 45px;}
.sense-header .container{ width:1020px;}


.sixgill_engine{ background:url(../images/proximate_engine_bg.jpg) no-repeat 0 0; padding:100px 0; text-align:center; background-size:cover;}
.sixgill_engine_top{ position:relative; width:865px; margin:0 auto; min-height:430px; padding-top:250px;}

.sixgill_engine h3{font-size: 23px;color:#fff;text-transform:uppercase;font-family: 'open_sanssemibold';letter-spacing:1px;font-weight: normal;margin: 25px 0 35px;}
.people_location{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:60px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:240px; left:0; position:absolute;}
.people_location strong{ display:block; text-transform:uppercase; font-weight:normal;}
.people_arrow{ position:absolute; left:100%; top:48%;}


.asset_location{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:60px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:70px; left:75px; position:absolute;}
.asset_location strong{ display:block; text-transform:uppercase; font-weight:normal;}
.asset_arrow{ position:absolute;left: 87%;
    top: 82%;}



.sensor_data{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:70px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:0px; left:250px; position:absolute;}
.sensor_data strong{ display:block; text-transform:uppercase; font-weight:normal;}
.sensor_arrow{ position:absolute;left: 65%; top: 97%;}


.ambient_data{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:70px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:0px; right:250px; position:absolute;}
.ambient_data strong{ display:block; text-transform:uppercase; font-weight:normal;}
.ambient_arrow{ position:absolute;left: 22%; top: 97%;}



.corporate_data{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:70px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:70px; right:75px; position:absolute;}
.corporate_data strong{ display:block; text-transform:uppercase; font-weight:normal;}
.corporate_arrow{ position:absolute;left: -26px;
    top: 84%;}



.polices_rules{ width:160px; height:160px; border:1px solid #fff; border-radius:50%; display:block; padding-top:60px; line-height:initial; color:#fff;font-family: 'open_sanssemibold';letter-spacing:0.4px; font-size:13px; top:240px; right:0; position:absolute;}
.polices_rules strong{ display:block; text-transform:uppercase; font-weight:normal;}
.polices_arrow{ position:absolute; right:100%; top:48%;}


.sixgill_engine_btm { text-align:center; padding:40px 0 0;}
.sixgill_engine_btm span{display:inline-block;min-width:190px;padding:20px 0;text-transform:uppercase;display:inline-block;margin:0 7px;border:1px solid #fff;border-radius:30px;line-height: initial;color: #fff;font-family: 'open_sanssemibold'; font-size:14px; }

.view_solution_col{ padding:65px 0 80px 0; text-align:center;}
.view_solution_col img{ width:200px;}
.view_solution_col span{ display:block; min-height:185px; vertical-align:middle;}
.view_solution_col h2{margin:40px 0 25px;padding:0;font-family: 'open_sanslight';color:#2e2e2e;font-size:30px;font-weight:normal;text-transform:uppercase;line-height: 44px;}
.view_solution_col b{ display:block; font-weight:normal;}


.view_solution_col a {
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    background: #0051c6;
    color: #fff;
    font-size: 16.5px;
    line-height: 14px;
}
.view_solution_col a:hover {
    background: #333;
}

.served_col{ padding:0 0 100px;}

.served_col h6{ font-size:18px; margin:0 0 36px; font-weight:normal; text-align:center; position:relative;}
.served_col h6 span{ display:inline-block; padding:0 40px; background:#fff; position:relative; z-index:2; }
.served_col h6:after{ content:""; height:1px ; background:#d9d9d9; width:100%; position:absolute; left:0; right:0; top:10px;}

.served_col ul{ margin:0; padding:0; list-style-type:none;}
.served_col ul li{float:left;width: 24%;text-align: center;height: 150px;vertical-align: middle;display: inline-block;line-height: 150px;}

.served_col2{ padding:0 0 100px;}
.served_col2 h6{ font-size:22px; margin:0 0 36px; font-weight:normal; text-align:center; position:relative;}
.served_col2 h6 span{ display:inline-block; padding:0 40px; background:#fff; position:relative; z-index:2; }
.served_col2 h6:after{ content:""; height:1px ; background:#d9d9d9; width:100%; position:absolute; left:0; right:0; top:10px;}
.served_col2 ul{ margin:0; padding:0; list-style-type:none;}
.served_col2 ul li{float:left;width: 20%;text-align: center;height: 150px;vertical-align: middle;display: inline-block;line-height: 150px;}

.demo_col{ padding-bottom:90px; text-align:center;}
.demo_col a{  display: inline-block;
    padding: 15px 30px;
    border-radius: 10px;
    background: #0051c6;
    color: #fff;
    font-size: 20px;
    }
	.demo_col a:hover {
    background: #333;
}
footer{ padding:50px 0; background:#2e2e2e;}
.social{ float:right;}
.ftr_left{float:left;padding: 5px 0 0;}
.ftr_left ul{ list-style-type:none; margin:0; padding:0;}
.ftr_left ul li{ display:inline-block; margin-right:30px;}
.ftr_left ul li a{ font-size:18px; color:#fff;}
.ftr_left p{color:#fff;font-size:12px;margin: 0;}

.social a{ background: #fff;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    margin: 0 0 0 10px;
    display: inline-block;
    text-align: center;
    line-height: 58px;
    font-size: 28px;}
.social a:hover{ background:#2e2e2e; color:#fff;}
.videoBG_wrapper, .videoBG{ height:430px !important; }
 audio, canvas, video {
    display: block;
}
.login.request a{ padding:10px 20px;}
.navbar-nav>li.active a:after ,.navbar-nav>li.current_page_item a:after  { 
	position:absolute; top:27px; content:"";bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
 
	border-bottom-color: #4dd75a;
	border-width: 10px;
	margin-left: -10px;
	}
 .inner_banner{height:250px;padding:0px 0 0; position:relative;background-image:url(../images/inner_banner.jpg); background-size:cover; background-position:center; padding:100px 0 0; text-align:center;}
 .inner_banner h3{ margin:0; padding:0; font-size:56px;font-family: 'open_sanslight';color:#2e2e2e;}
 
 .team_col{ padding:0 0 1px;}

.team_col h6{ font-size:18px; margin:0 0 6px; font-weight:normal; text-align:center; position:relative;}
.team_col h6 span{ display:inline-block; padding:0 40px; background:#fff; position:relative; z-index:2; }
.team_col h6:after{ content:""; height:1px ; background:#d9d9d9; width:100%; position:absolute; left:0; right:0; top:10px;}

.team_col .carousel.slide{ text-align:center; padding:100px 0;} 
.team_slidein{ margin:0 auto; width:290px; text-align:left;} 
 
 .team_col h3{font-family: 'open_sanslight';color:#2e2e2e;font-size:35px;margin: 40px 0 15px;padding:0;text-align:center;line-height:32px;}
  .team_col h4{/* font-family: 'open_sanslight'; */color:#4ddb5a;font-size:18px;margin:0px 0 40px;padding:0;text-align:center;}
 .slideimg{ text-align:center;}
 .team_col p{ margin:0 0 10px; font-size:14px;}
  .team_col p strong{ font-weight:normal;font-family: 'open_sanssemibold'; font-size:16px;}
 .sixgill_board{ padding:0;}

.carousel-control {
    position: absolute;
    top: 41%;
    bottom: inherit;
    left: 0;
    width: inherit;
    height: auto;
}
  .carousel-control.left {
    left: -30px;
}
 
  .carousel-control.right {
    right: -30px;
}
 .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
    background: #f2f2f2;
}.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #2e2e2e; border:1px solid #f2f2f2;
}
 .carousel-indicators {
    bottom: 0px;
}
 
 .inner_banner_sub{height:250px;padding:0px 0 0; position:relative;background-image:url(../images/inner_banner.jpg); background-size:cover; background-position:center; padding:90px 0 0; text-align:center;}
 .inner_banner_sub h3{ margin:0 0 25px; padding:0; font-size:56px;font-family: 'open_sanslight';color:#2e2e2e;}
 
 .inner_banner_sub h4{ margin:0; padding:0; font-size:18px; color:#4ddb5a; text-transform:uppercase;}
 

 
 .product_list{ margin:0; padding:0; font-size:18px; list-style-type:none;}
  .product_list li{ margin:0 0 10px; background:url(../images/dott.png) no-repeat 0 10px; padding:0 0 0 20px;}
 .product_inner{ padding:80px 0; border-top:1px solid #d5d5d5; }
 .product_inner h4{ font-size:40px;font-family: 'open_sanslight';color:#2e2e2e; margin:0 0 20px; padding:0;}
 .product_inner h6{font-size:22px; color:#989898; margin:0 0 20px; padding:0;line-height: 27px;}
 .product_inner_col{width: 82%;
    margin: 80px auto;
    overflow: hidden;}
 
 .product_inner_left{ float:left; width:25%;}
 
 .product_inner_right{ float:right; width:70%;}
  .product_inner_col h2{ margin:0 0 20px; padding:0;font-family: 'open_sansregular'; font-size:22px; text-transform:uppercase;}
 
 
  .sixgill_asset{ padding:80px 0 120px; border-top:1px solid #d5d5d5; overflow:hidden;}
 .sixgill_asset h4{font-size:50px; color:#2e2e2e; margin:0 0 30px; padding:0;}
 .sixgill_asset h6{font-size:22px;font-family: 'open_sanslight'; color:#989898; margin:0 0 60px; padding:0;}
 
 .sixgille_asset{ text-align:center;}
 .sixgille_asset img{ margin-top:0;}
 .sixgill_asset p{font-family: 'open_sanssemibold'; font-size:22px; margin:0 0 40px; line-height:normal;}
 
 .sixgill_asset .product_list li {
    margin: 0 0 5px;}
 
 .sixgill_solution{ padding:1px 0 0;}
 
 .sixgill_solution h4{ font-size:40px; color:#4dd45a; margin:0 0 30px; padding:0;}
  .sixgill_solution h5{ font-size:22px; color:#383838; padding:15px 0 20px; margin:0;font-family: 'open_sansbold'; text-transform:uppercase; }
 .sixgill_solution p{ font-size:18px; margin:0 0 25px;}
 .text_cent{ text-align:center;}
 .solution_space{ padding:0 0 25px; margin:0 0 45px; border-bottom:1px solid #d5d5d5;}
 .line-25{ line-height:25px;}
 .pad_t80{ padding-top:80px;}
 
 
 .tech_col{ padding:30px 0 15px 0;}

.tech_col h2{font-family: 'open_sanslight';color:#2e2e2e;font-size:40px;font-weight:normal;padding:0 0 40px;margin:0 0 40px;border-bottom:1px solid #ababab;line-height: 45px;}
.tech_col .container{ width:1020px;}
 .tech_col p {
    font-size: 18px; margin:0 0 25px;
}
.pad_t_80{ padding-top:30px;}

 .tech_col h3{font-family: 'open_sanslight';color:#2e2e2e; font-size:32px; margin:0 0 25px; line-height:40px;}
 .tech_col .col-md-6 p{ font-size:18px; margin:0 0 25px;}


 .tech_col h4{font-family: 'open_sanslight';color:#2e2e2e; font-size:32px; padding:40px 0 25px; line-height:40px; margin:0;}
.tech_col img{ margin:0 0 40px;}
.tech_col p strong{font-family: 'open_sansbold'; font-weight:normal;}

.modal-body {
    position: relative;
    padding: 0px;
}
.popmap p{ font-size:20px; line-height:22px; padding:40px;}
img{ max-width:100%;}
.modal-dialog {
    width: 700px;
    margin: 80px auto;
}
.popmap img{ width:100%;}

.navbar-nav>li a:hover:after {
    position: absolute;
    top: 27px;
    content: "";
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #4dd75a;
    border-width: 10px;
    margin-left: -10px;
}
#request_form .modal-body h1{     background: #57b82a;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 10px 0;
    font-family: 'open_sanssemibold';
    line-height: initial;
    font-size: 25px;}

#request_form .modal-body p{ margin:0; padding:0;}
#request_form .modal-dialog {
    width:450px;
    margin: 80px auto;
}
.form_mid{ padding:10px 40px;}
.fieldsmarked{ font-size:12px !important; text-align:center; margin:0 0 15px !important;}
.welcom_text{ font-size:14px !important; text-align:center;margin:0 0 30px !important;}
#request_form .modal-dialog label{ display:block; margin:0 0 2px; font-size:14px; font-weight:normal;}
#request_form .modal-dialog input{ padding:7px 10px; width:100%; margin:0 0 10px; border:1px solid #979797;}
#request_form .modal-dialog i{ color:#FF0000; font-style:normal;}
#request_form .modal-dialog button{ background: #57b82a;text-align: center;
    text-transform: uppercase;
    color: #fff; padding: 10px 30px; margin:20px 0 30px; border:none; line-height:inherit;font-family: 'open_sanssemibold'; font-size:15px; border-radius:3px;}

#request_form .modal-conten{ border-radius:0; }
#request_form .modal-dialog button:hover{ background:#333;}


#top-image{ display: none;}
 


@media(max-width:1020px){
	.experts_col .container{ width:inherit;}
	.sense-header .container{ width:inherit;}
	.sixgill_engine_btm span{    min-width: 130px;margin: 0 2px;}
	.sixgill_engine_btm span {
    min-width: 30%;
    margin: 0 2px 5px;
    padding: 15px 20px;
}
}

@media(max-width:980px){
	.people_location, .asset_location, .sensor_data, .ambient_data, .corporate_data, .polices_rules{ position:static; display:inline-block;    margin: 0 10px;}
	.sixgill_engine_top{ width:inherit;}
	.people_arrow, .asset_arrow, .sensor_arrow, .ambient_arrow, .corporate_arrow, .polices_arrow{ display:none;}
	.sixgill_engine_top{ padding:0;}
	.inlogo{ padding-top:20px;}.sensor_data, .ambient_data{padding-top: 80px;}
	
}
@media(min-width:768px) and (max-width:1024px){
.videoBG_wrapper, .videoBG, .business_slide{ height:300px !important; }
.navbar-nav>li{    margin: 0 5px;}
.navbar-nav>li>a{ font-size:16px;}
.navbar-nav {
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 20px;
}.experts_col .container{ width:auto;}
.tech_col .container{ width:inherit;}
.navbar-nav > li > a {
    font-size: 17px;
}

}

@media(max-width:768px){
.experts_col_left, .experts_col_right{ float:none; width:inherit;}
.experts_col h2{font-size: 30px;line-height: 35px;}
.experts_col .container{margin-bottom:-17px;}
.served_col ul li { 
    width: 49%; 
    height: 100px; 
    line-height: 100px;
}.ftr_left ul li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}.ftr_left{ float:none;}.social{ float:none; margin:10px 0 0;} footer{ text-align:center;} 
.sixgill_engine_btm span {
    min-width: auto;
    width: 45%;
    margin: 0 0 10px 0;
}
#div_demo{ display:none;}
.login a {
    display: inline-block;
    padding: 10px 20px;}
.logo.pull-left{ float:none !important; text-align:center; margin:0 0 10px;}
.head_right.pull-right{ float:none !important;}
.navbar-toggle .icon-bar{background: #069;}
.navbar-toggle{ border:1px solid #069;}
.navbar-toggle{margin-top: 9px;margin-left: 20px; margin-right:5px;}
.navbar-collapse.collapse {
	float: none;
    clear: both;
}.login {
    float: left;
    line-height: inherit;
    padding: 9px 0 0 50px;
    display: inline-block;
}.search {
    float: none;
    padding: 13px 0 0 0px;
    display: inline-block;
}.navbar-nav {
	clear:both;
	float:none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 70px 0 5px 0;
    text-align: center;
}.navbar-nav>li { 
    margin: 0 0px 8px;
}.business_slide {
    height: 300px; background-image:url(../images/headbg.jpg); background-size:cover; background-position:center;}
	.experts_col {
    padding: 40px 0 0 0;
}.inlogo{ padding:20px 0 0;}
	.view_solution_col {
    padding: 50px 0;}
	.demo_col a {
    display: inline-block;
    padding: 20px 20px;}
	.ftr_left ul li a {
    font-size: 18px;}
	.sixgill_engine_btm span{padding: 15px 10px;font-size: 11px;}
	.people_location, .asset_location, .sensor_data, .ambient_data, .corporate_data, .polices_rules { 
    margin: 0 20px 20px; 
}.sixgill_engine_btm span { 
    width: 80%;
}.view_solution_col h2 { 
    margin: 0 0 15px;}
.view_solution_col a{margin: 0 0 40px;}	
	
.sense-header h2{font-size: 20px;line-height: 30px; margin-bottom:30px; margin-top:10px;}

.served_col2 ul li { 
    width: 49%; 
    height: 100px; 
    line-height: 100px;}
.served_col2 h6 span { 
    font-size: 18px; 
    z-index: 2;}	
.served_col2 h6::after{top: 12px;}
	

.served_col h6 span { 
    font-size: 15px; 
    z-index: 2;
}	
	.served_col h6::after{top: 12px;}
	.ftr_left p { 
    margin: 0 0 20px;
}.demo_col a {
padding: 15px 30px;
    border-radius: 10px;
    background: #0051c6;
    color: #fff;
    font-size: 20px;
    }
.experts_col h2 {
    font-size: 25px;
    line-height: 30px;margin: 0 0 35px;
    padding: 0 0 35px;
}.experts_col p {
    font-size: 15px;
}.inner_banner_sub h3{font-size: 30px;}
	.sixgill_solution h4{margin: 20px 0 30px;font-size: 30px;}
	.sixgill_solution p {
    font-size: 15px;}
	.sixgill_solution h5 {
    font-size: 20px;}
	
	.demo_col a { 
    font-size: 20px;
}.sixgill_solution {
    padding: 10px 0 0;
}.navbar-nav>li.active a:after{ display:none;}
.navbar-nav>li a:hover:after{ display:none;}
	.product_list{font-size: 15px;}
	.product_inner h4 {
    font-size: 28px;}
	.product_inner h6 {
    font-size: 18px;}
	.product_inner_col {
    width: inherit;
    margin: 50px auto;}
	.product_inner_left, .product_inner_right{ float:none; width:inherit;}.product_inner_right{ margin:20px 0 0;  }
	.product_inner_left{ text-align:center;}.product_inner {
    padding: 50px 0 0;}
	.sixgill_asset h4 {
    font-size: 40px;}
	.sixgill_asset p { 
    font-size: 17px;
    margin: 20px 0;}
	.sixgill_asset {
    padding: 50px 0;}
	.sixgill_asset h6{ margin:0;}
	.tech_col .container{ width:inherit;}
	.tech_col {padding: 30px 0 0 0;}
	.tech_col .container{ width:inherit;}
.tech_col h2{font-size: 25px;}
.tech_col p {
    font-size: 15px;}
.tech_col h3{    font-size: 26px;}
.tech_col .col-md-6 p {
    font-size: 15px;}
	.tech_col h4{    font-size: 30px;}
	.modal-dialog {
    width: inherit;
    margin: 80px 10px;
}.popmap p {
    font-size: 15px;
    line-height: 22px;
    padding: 20px;
}.carousel-control.right {
    right: 0;
}.carousel-control.left {
    left: 0;
}
	.carousel-control.right img, .carousel-control.left img{ width:25px;}
	.team_col h3{ font-size:30px;}
	.experts_col h2 {
    font-size: 20px;}
	#request_form .modal-dialog {
    width: inherit;
    margin: 80px 10px;
}.navbar-collapse{ width:100%; margin:7px 0 0;}
.search {
    display: inline-block;
    float: left;
    padding: 13px 0 0;
}.head_right.pull-right { text-align:center;
   
}
.login {
    padding: 11px 0 0;
}.navbar-toggle {
    margin-left: 0px; margin-right: 0;}
.login {
    padding: 11px 0 0;
}.team_slidein{ width:inherit; text-align:center;}.navbar-toggle{ padding: 9px 4px;}
.navbar-nav > li.active a::after, .navbar-nav > li.current_page_item a::after {border-style:none;}
.custom-width {width: 100%;}
}



@media(max-width:580px){
.business_slide {
    height: 160px; background-image:url(../images/headbg.jpg); background-size:cover; background-position:center;}





}


@media screen and (min-width: 0px) and (max-width: 720px) {
  #top-video { display: none; }
  #top-image{ display: block; }
}








