/* Resources Common styles */
.resources-background {
  background-color: #eeeeee;
}
.resource-block {
  display: inline-block;
  background-color: #ffffff;
  transition: all 0.5s;
}
.resources-blocks-container {
  text-align: left;
  display: inline-block;
}
.resources-container {
  text-align: center;
}
.resource-block-part {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.resource-image-container {
  height: 52%;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position-x: 50% !important;
  background-position: center center !important;
}
.resource-title {
  font-weight: bold;
  height: 33%;
  font-size: 16px;
}
.resource-link-container {
  height: 15%;
  border-top: 1px solid #e7e7e7;
}
.resource-link {
  color: #999999 !important;
  font-size: 15px;
}
.resource-link:hover {
  color: blue !important;
}
.resource-image-container-centered {
  background-position-y: 50% !important;
  background-position: center center !important;
}
.resource-image-container-crop {
  background-size: cover !important;
}
.resource-image-container-top {
  background-position: top center !important;
}
.resources-page-background {
  background-color: #004cbf;
}
.resources-download-form-button > input {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 200px !important;
  max-height: 46px !important;
  border-color: transparent;
  border: 0px;
  display: inline-block !important;
  width: 37%;
  background: #4ddb5a linear-gradient(to bottom, #4ddb5a, #3cad46) repeat scroll 0 0;
  color: #ffffff;
  padding: 14px 30px;
  box-shadow: 0 4px 0 #26722d;
  font-size: 16px;
  min-height: 46px !important;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.resources-download-form-button > input:hover {
  background: #4ddb5a linear-gradient(to bottom, #4ddb5a, #4ddb5a) repeat scroll 0 0;
  border-color: #204d74;
  color: #fff;
}
.resources-download-form-input {
  background-color: #f1f1f1;
  border: 2px solid rgba(51, 51, 51, 0.1);
  margin-bottom: 8px;
  padding: 0.5278em;
  display: block;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
}
.resources-download-form-label {
  text-align: left;
  margin-bottom: 0px;
}
