/* Products Common styles */
.products-first-section-image-wrapper,
.products-first-section-block-text {
  display: inline-block;
}
.products-first-section-block {
  background-color: rgba(77, 219, 90, 0.7);
}
.products-first-section-image-wrapper {
  height: 100%;
}
.products-section {
  background-size: cover;
}
.products-first-section-block-paragraph,
.products-first-section-block-paragraph p,
.products-first-section-scroll-link-text,
.products-third-section-title,
.products-third-section-subtitle,
.products-third-section-text p,
.products-third-section-text ul li,
.products-fifth-section-subtitle,
.products-fifth-section-text p,
.products-fifth-section-text ul li,
.products-first-section-block-title {
  color: #ffffff !important;
}
.products-third-section-text ul {
  margin-bottom: 0px !important;
}
.products-third-section-text li:last-child {
  margin-bottom: 0.5em !important;
}
.products-last-section-text,
.products-last-section-text p .products-last-section-text li,
.products-last-section-col-title,
.products-second-section-text {
  color: #2e2e2e;
}
.products-last-section-title {
  color: #4ddb5a;
}
.products-third-section-line,
.products-fourth-section-line,
.products-fifth-section-line {
  background-color: #ffffff;
}
.products-third-section-title,
.products-fourth-section-title,
.products-fifth-section-title {
  font-family: Lato;
  color: #2adc3a;
}
.products-first-section-scroll-link-wrapper {
  cursor: pointer;
  text-align: center;
}
.products-last-section-tab-logo {
  cursor: pointer;
}
.products-second-section {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
