/* Resources desktop styles */
.resource-block {
  width: 24%;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.resources-blocks-container {
  width: 96%;
}
.resources-container {
  min-height: 680px;
}
.resource-block:hover {
  transform: scale(1.066);
}
