/* Solutions mobile portrait and landscape styles */
#content .col_full {
  margin-bottom: 38px;
}
#content .solution-subpage-first-block-text p {
  font-size: 16.2px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
#content .solution-subpage-second-block-wrapper p {
  font-size: 16.2px;
  font-weight: normal;
  line-height: 1.42;
  letter-spacing: 0.5px;
}
.solution-subpage-suptitle {
  font-size: 13.2px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.solution-subpage-title {
  font-size: 18px;
  font-weight: 300;
  font-family: "Lato Light";
  letter-spacing: 0.5px;
}
.solution-subpage-container {
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
.my_containerSolution {
  padding-top: 19px;
  margin-top: 0px;
}
.solutions-top-title-spacing {
  margin-bottom: 11px;
}
.iconSolutions {
  width: 115px;
}
.my_boxSolution_title {
  border: 0px;
}
.thumbnail-solutions-mobile {
  width: 100%;
  text-align: center;
}
.solution-subpage-first-block-image-container {
  width: 100%;
  height: auto;
}
.solution-subpage-section-title {
  margin-bottom: 23px;
}
.solution-subpage-second-block-image-container {
  position: relative;
}
.solution-subpage-third-block {
  height: inherit;
}
.solution-subpage-last-block {
  margin-top: 50px;
}
.solution-subpage-last-block-title,
.solution-subpage-bottom-section-subtitle {
  text-align: left;
}
.solution-subpage-last-block-title {
  font-size: 28.4px;
  font-weight: 300;
  font-family: "Lato Light";
  line-height: 0.71;
  letter-spacing: 0.9px;
}
.solution-subpage-bottom-section-subtitle {
  margin-bottom: 30px;
  width: inherit;
  font-size: 16.2px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
.solution-subpage-bottom-section-column ul li {
  font-size: 16.2px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.5px;
}
ul:not([class]) li {
  margin-bottom: 1em;
}
.solution-subpage-bottom-line {
  margin-top: 50px;
  margin-bottom: 50px;
}
.solution-subpage-section-title {
  font-size: 28px;
  font-weight: 300;
  font-family: "Lato Light";
  letter-spacing: 0.9px;
}
.solution-subpage-second-block {
  padding-top: 6.4vw;
}
.solution-subpage-second-block-wrapper {
  width: 88.28vw;
}
.solution-subpage-gallery-thumbnail-wrapper {
  width: 92.44vw;
  margin-bottom: 4vw;
}
.solution-subpage-gallery-button {
  display: none !important;
}
.solution-subpage-gallery-button-link:not(:last-child) .solution-subpage-gallery-button {
  margin-bottom: 2.5vw;
}
.solution-subpage-gallery-button-icon {
  margin-right: 3.13vw;
}
.solution-subpage-second-block-wrapper {
  text-align: left;
}
.solution-subpage-bottom-section-content {
  width: 83.28vw;
}
.solution-subpage-bottom-section-content p {
  text-align: left;
}
.solution-use-cases-block-subtitle {
  padding: 20px;
}
.solution-use-cases-block-subtitle > p {
  width: 100%;
}
.solution-use-cases-block-content {
  text-align: center;
}
.solution-carousel-mobile-button {
  width: 50%;
  height: 9.53vw;
  background-color: #2e2e2e;
  cursor: pointer;
  display: inline-block;
}
[id$="carousel-mobile-button-left"] {
  border-right: 1px solid rgba(153, 153, 153, 0.32);
  padding-left: 3.125vw;
  text-align: left;
}
[id$="carousel-mobile-button-right"] {
  text-align: right;
  padding-right: 3.125vw;
}
.own-carousel-outside-wrapper {
  width: 100%;
}
.own-carousel-n-controls-wrapper {
  width: 93.75%;
  display: inline-block;
}
.owl-wrapper-outer {
  display: inline-block;
}
.solution-carousel-button-image {
  height: 5.625vw;
}
.solution-carousel-mobile-button-icon {
  display: inline-block;
}
.solution-subpage-slide-info {
  text-align: left;
  width: 87.5vw;
  padding: 0 3.125vw 0 3.125vw;
}
.solution-subpage-slide-title {
  font-size: 5.625vw;
  margin-bottom: 1vw;
  font-weight: 500;
}
.solution-subpage-slide-description {
  font-size: 4vw;
  margin-bottom: 7.66vw;
  font-weight: normal;
}
.solution-subpage-gallery-block-title {
  font-size: 13.5px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.7px;
  margin-bottom: 6vw;
}
.solution-subpage-last-block-wrapper {
  margin-bottom: 32px;
  background: url('/wp-content/themes/sixgill/images/solutions/getstarted_bg_mobile.png') no-repeat scroll 0 0 / cover;
}
.solution-use-cases-block-image {
  height: 53vw;
}
.solution-use-cases-block-subtitle > a:hover {
  color: #0051c6;
}
.solution-subgape-carousels-div {
  width: 72.73vw;
  margin: 10vw 0px 10vw 0px;
}
.solution-subpage-galleries-wrapper {
  padding: 10vw 0px 9vw 0px;
}
