/* Blog mobile portrait styles */
.form-page-search {
  margin: 0 auto;
  margin-top: 90px;
}
.background-search {
  margin-top: 80px;
}
.margin-table-search {
  margin-top: 0px;
}
.menu-search-mobile-tablet {
  margin-top: 12px;
}
.search-result-section {
  margin-top: 81px;
}
