/* Blog mobile portrait and landscape styles */
.share-buttons-top {
  display: block;
}
.blog-container {
  margin-left: 0px;
  margin-right: 0px;
  max-width: none !important;
}
.h1-blog {
  margin-bottom: 18px;
}
.margin-bottom-post {
  margin-bottom: 25px;
}
.margin-top-post {
  margin-top: 10px;
}
