#pagination-all() {
	.pagination {
		display: inline-block;
		width: 100%;
		text-align: center;
		white-space: nowrap;

		h2.screen-reader-text {
			display: none;
		}

		.page-numbers {
			color: #2e2e2e;
			vertical-align: middle;
			text-decoration: none;
		}

		a.prev {
			display: inline-block;
			background-image: url("images/blog/iconArrowCirclePrevious-Default.svg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 30px;
			height: 30px;
			vertical-align: middle;
			padding: 0;
			transform:none;

			&:hover {
				background-image: url("images/blog/iconArrowCircleNext-Hover.svg");
				transform:scaleX(-1);
			}

			&:after {
				content: url("images/blog/iconArrowCircleNext-Hover.svg");
				display: none;
			}
		}

		a.next {
			display: inline-block;
			background-image: url("images/blog/iconArrowCirclePrevious-Default.svg");
			background-repeat: no-repeat;
			background-size: cover;
			width: 30px;
			height: 30px;
			vertical-align: middle;
			padding: 0;
			transform:scaleX(-1);

			&:hover {
				background-image: url("images/blog/iconArrowCircleNext-Hover.svg");
				transform: none;
			}

			&:after {
				content: url("images/blog/iconArrowCircleNext-Hover.svg");
				display: none;
			}
		}

		.current {
			color: #0051c6;
			text-decoration: underline;
		}
	}
}
