.resource-details {
	padding: 59px 7.65vw 46.5px 7.65vw;

	&-header {
		height: 324px;

		&-title {
			font-size: 25.2px;
			letter-spacing: 0.8px;
			margin-bottom: 20px;
		}

		&-subtitle {
			font-size: 60px;
			letter-spacing: 1.8px;
			margin-bottom: 37.5px;
		}
	}

	&-share {
		margin-bottom: 27px;

		&-wrapper {
			width: 172px;
		}
	}

	&-vimeo-video, &-pdfviewer  {
		width: 67.86vw;
		height: 39.68vw;
		margin-bottom: 54px;
	}

	&-description {
		margin-bottom: 50.5px;
	}
}
