.resource-details {
	padding: 28px 3.13vw 38px 3.13vw;

	&-header {
		height: 127px;

		&-title {
			font-size: 13.2px;
			letter-spacing: 0.4px;
			margin-bottom: 8px;
		}

		&-subtitle {
			font-size: 18px;
			letter-spacing: 0.5px;
			margin-bottom: 0px;
		}
	}

	&-share {
		margin-bottom: 22px;
		flex-direction: column;

		&-title {
			margin-right: 0px;
			font-size: 12px;
			line-height: 0.71;
		  letter-spacing: 0.8px;
		}

		&-wrapper {
			width: 172px;
		}
	}

	&-vimeo-video, &-pdfviewer  {
		width: 93.75vw;
		height: 50.94vw;
		margin-bottom: 54px;
	}

	&-description {
		margin-bottom: 0px;
	}
}
