.resource-details {
	padding: 34.5px 4.56vw 56.5px 4.56vw;

	&-header {
		height: 263px;

		&-title {
			font-size: 20px;
			letter-spacing: 0.6px;
			margin-bottom: 20px;
		}

		&-subtitle {
			font-size: 40px;
			letter-spacing: 1.2px;
			margin-bottom: 37.5px;
		}
	}

	&-share {
		margin-bottom: 26px;

		&-wrapper {
			width: 172px;
		}
	}

	&-vimeo-video, &-pdfviewer  {
		width: 90.63vw;
		height: 52.73vw;
		margin-bottom: 54px;
	}

	&-description {
		margin-bottom: 47px;
	}
}
