.resources-background {
	background-color: #eeeeee;
}

.resource-block {
	display: inline-block;
	background-color: #ffffff;
}

.resource-title {
	font-weight: bold;
}

.resources-blocks-container {
	text-align: left;
	display: inline-block;
}

.resource-container {
	padding: 0px;
	margin: 0px auto;
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.resource-image-container {
	height: 52%;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	background-position-x: 50% !important;
	background-position: center center !important;
}

.resource-image-container-centered {
	background-position-y: 50% !important;
	background-position: center center !important;
}

.resource-image-container-crop {
	background-size: cover !important;
}

.resource-image-container-top {
	background-position: top center !important;
}

.resource-link {
	color: #999999;
}

.resources-page-background {
	background-color: #004cbf;
}

.resource-block:nth-child(odd) {
	margin-left: 0px;
}

.resource-block:nth-child(even) {
	margin-right: 0px;
}

.yikes-easy-mc-submit-button {
	display: inline-block !important;
}
