.solutions-subpage-text, .solutions-subpage-thumbnail {
	text-align: left;
	display: inline-block;
}

.solutions-subpage-text ul, ol {
	padding: 0;
	margin: 0;
	margin-bottom: 0.5em;
}

#press-text-post {
	text-align: left;
	margin-bottom: 30px;
}

.solutions-subpages-list {
	padding-bottom: 5px;
}

.solutions-subpage-text li{
	font-size: inherit;
}

.solution-subpage-suptitle {
	color: #4ddb5a;
}

.solution-subpage-title {
	color: #f9f8f8;
}

.solution-subpage-title , .solution-subpage-suptitle {
	font-weight: 800;
	text-transform: uppercase;
}
