/* Products Common styles */

.products-first-section-image-wrapper,
.products-first-section-block-text {
	display: inline-block;
}

.products-first-section-block {
	background-color: rgba(77, 219, 90, 0.7);
}

.products-first-section-image-wrapper,
.products-first-section-image,
.products-first-section-block-text {
	height: 100%;
}
