.pagination-search {
	margin-bottom: 50px;
	text-align: center;
}

.pagination-image-left, .pagination-image-right {
	height: 30px;
}

.pagination-image-right, .pagination-number {
	margin-left: 10px;
}

.current, .current-link {
	margin-right: 10px;
}

.pagination-number, .pagination-image-left, .pagination-image-right {
	margin-right: 20px;
}

.current-link, .pagination-number {
	color: black;
}

.content-wrap .header-stick {
	padding-top: 100px;
}

.searchform {
	width: 100%;
}

.searchform, .search-query, .search-button {
	height: 100%;
	background-color: #ffffff;
}

.searchform-compact {

}

.searchform-static {

}

.search-query {

}

.search-query-compact {

}

.search-query-static {

}

.search-button {

}

.search-button-compact {

}

.search-button-static {

}

.search-border {
	border: 1px solid #e2e2e2;
}
