.press-post-source {
	font-size: 16px;
	font-weight: bold;
	color: #2e2e2e;
}

.press-post-title {
	font-size: 18px;
	font-weight: bold;
	color: #2e2e2e;
}

.press-post-suptitle {
	line-height: 1.5em !important;
}

.press-block-title {
	font-size: 24px;
	color:#004CBF;
	font-weight:bold;
}

.press-block-container {
	margin-top: 80px;
}

.hidden-press-contact {
	margin-top: 50px !important;
	padding:0px 0px 0px 0px;
	background-color: #C0C0C5; 
	float: right;
}
