.solutions-subpage-text, .solutions-subpage-thumbnail {
	text-align: left;
	display: inline-block;
}

.solutions-subpage-text ul {
    list-style: none;
    padding:0;
    margin:0;
}

.solutions-subpage-text ul > li, .solutions-subpage-text ol > li {
    padding-left: 1em;
    text-indent: -.7em;
		padding-bottom: 1em;
}

.solutions-subpage-text ul > li:before {
    content: "• ";
    color: #4ddb5a;
}

.solutions-subpage-text ol {
	padding-left: 20px;
}

#press-text-post {
	text-align: left;
	margin-bottom: 30px;
}
