.background-f8f8f8 {
	background-color: #f8f8f8;
}

.background-white {
	background-color: #ffffff;
}

.background-black {
	background-color: #000000;
}

.background-2e2e2e {
	background-color: #2e2e2e;
}

.background-eeeeee {
	background-color: #eeeeee;
}

.color-white {
	color: #ffffff;
}

.color-black {
	color: #000000;
}

.color-999999 {
	color: #999999;
}

.no-border {
	border: 0px !important;
}

.no-top-margin, .no-margin-top {
	margin-top: 0px !important;
}

.no-top {
	top: 0px;
}

.no-right-margin, .no-margin-right {
	margin-right: 0px !important;
}

.no-bottom-margin, .no-margin-bottom {
	margin-bottom: 0px !important;
}

.no-left-margin, .no-margin-left {
	margin-left: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.no-top-padding, .no-padding-top {
	padding-top: 0px !important;
}

.no-right-padding, .no-padding-right {
	padding-right: 0px !important;
}

.no-bottom-padding, .no-padding-bottom {
	padding-bottom: 0px !important;
}

.no-left-padding, .no-padding-left {
	padding-left: 0px !important;
}

.no-padding {
	padding: 0px !important;
}

.center {
	text-align: center !important;
}

[class="center"] {
	display: inline-block;
}

.normal-font-20-1 {
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
}

.line-height-1 {
	line-height: 1 !important;
}

.line-height-1-5 {
	line-height: 1.5 !important;
}

.line-height-1-8 {
	line-height: 1.8 !important;
}

.full-width {
	width: 100%;
}

.max-width-500 {
	max-width: 500px;
}

.section-margin-fix {
	margin-top: -1px !important;
}

.vertical-centered {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.uppercase {
	text-transform: uppercase !important;
}

.lowercase {
	text-transform: lowercase !important;
}

.capitalize {
	text-transform: capitalize !important;
}

.nott {
	text-transform: none !important;
}

.tright {
	text-align: right !important;
}

.tleft {
	text-align: left !important;
}

.fright {
	float: right !important;
}

.fleft {
	float: left !important;
}

.fnone {
	float: none !important;
}
