/* For laptops: */
@media (min-width: 1000px) and (max-width: 1650px) {

	.marginShareButton {
		margin-left: 5px  !important;
		list-style-type: none  !important;
	}

	.full-block-width {
		width: 250px !important;
	}

	.resources-blocks-container {
		min-width: 1100px !important;
		max-width: 1100px !important;
	}

	.resource-block {
		height: 350px !important;
	}

	.resource-title-container {
		height: 140px !important;
	}

	.resource-link-container {
			height: 40px  !important;
	}

	.resource-image-container {
		height: 173px !important;
	}

	.resource-line {
		margin-bottom: 7px !important;
	}
}

/* In the middle of fullhd and laptop: */
@media (min-width: 1500px) and (max-width: 1750px) {

	.marginShareButton {
		margin-left: 5px  !important;
	}

	.full-block-width {
		width: 300px  !important;
	}

	.resources-blocks-container {
		min-width: 1300px !important;
		max-width: 1300px !important;
	}
}

/* Wide tablets or very small laptop screens : */
@media (min-width: 992px) and (max-width: 1266px) {

	.full-block-width {
		width: 250px  !important;
	}

	.resources-blocks-container {
		min-width: 850px !important;
		max-width: 850px !important;
	}
}

/* For share botton on blog: */
@media (min-width: 1200px) and (max-width: 1300px) {

    .marginShareButton {
		margin-left: 5px  !important;
		list-style-type: none;
	}

    .my_containerSolution {
        margin-left: 60px  !important;
    }
}
