/* For laptops: */
@media (min-width: 1000px) and (max-width: 1650px) {

	.full-block-width {
		width: 250px;
	}

	.resources-blocks-container {
		min-width: 1100px !important;
		max-width: 1100px !important;
	}

	.resource-block {
		height: 350px;
	}

	.resource-title-container {
		height: 140px;
	}

	.resource-link-container {
		height: 40px;
	}

	.resource-image-container {
		height: 173px;
	}

	.resource-line {
		margin-bottom: 7px;
	}
}

/* In the middle of fullhd and laptop: */
@media (min-width: 1500px) and (max-width: 1750px) {

	.full-block-width {
		width: 300px;
	}

	.resources-blocks-container {
		min-width: 1300px !important;
		max-width: 1300px !important;
	}
}

/* Wide tablets or very small laptop screens and landscape tablets */
@media (min-width: 1001px) and (max-width: 1266px) {

	.full-block-width {
		width: 250px;
	}

	.resources-blocks-container {
		min-width: 850px !important;
		max-width: 850px !important;
	}

	.subscribe-block {
		width: 100%;
	}

	.blog-list {
		width: 61%;
	}

	.container-slidebar {
		width: 35%;
	}
}

/* For share botton on blog: */
@media (min-width: 1001px) and (max-width: 1300px) {

	.my_containerSolution {
		margin-left: 60px;
	}
}

@media (min-width: 486px) and (max-width: 720px) {
	.resources-blocks-container {
		min-width: 370px !important;
		max-width: 370px !important;
	}
}

/* mobile landscape */
@media (max-width: 667px) and (max-height: 400px) {
	#aside-blog {
		margin-top: 125px;
	}

	.shareButton-blog {
		margin-bottom: 10px;
		height: 35px;
	}

	.subscribe-block-tablet-mobile {
		padding: 40px 25px 20px 30px;
	}

	.footer-learn-text, .footer_Schedule {
		text-align: center;
	}
}

/* Small lanscape screen */
@media (max-width: 1000px) and (orientation: landscape) {
	.subscribe-input-container {
		padding-left: 20px;
		padding-right: 20px;
	}

	.subscribe-email {
		width: 100%;
	}

	.subscribe-block-tablet-mobile {
		padding-top: 10px;
	}
}
