/* Search desktop styles */
@media only screen and (min-width : 1001px) {
	.content-wrap {
		padding: 0px;
	}

	.header-stick {
		padding-top: 100px;
	}

	.position-article {
		margin-top: 25px;
		margin-bottom: 25px;
	}

	.position-button-schedule {
		padding-right: 20px;
	}

	.table-pagination {
		width:363px;
		margin: 0 auto;
	}

	.pagination-search {
		margin-top: 40px;
		margin-bottom: 65px;
	}

	.margin-results-search {
		margin-bottom: 45px;
	}

	.compact-search-container {

	}
}
