/* Press desktop styles */
.col_press {
	padding-bottom: 55px;
}

.press-post {
	padding-top: 32px;
}

.hidden-press-contact {
	margin-top: 50px !important;
	padding: 0px 0px 0px 0px;
	background-color: #C0C0C5;
	float: right;
}

.padding-edges {
	padding-left: 0px;
	padding-right: 15px;
}

.press-contact-block {
	margin-top: 80px;
	text-align: center;
	background-color: #f8f8f8;
}
