/* Products desktop styles */

.products-first-section-block {
	height: 19.472vw;
	width: 88.34%;
	float: right;
	font-size: 0px;
}

.products-first-section-image-wrapper {
	width: 28.1%;
}

.products-first-section-block-text {
	width: 71%;
}

.products-first-section-block-title {
	font-size: 61px;
  font-weight: 300;
	color: #ffffff;
}

.products-first-section-block-paragraph {
	font-size: 15.9px;
  font-weight: 400;
}

.products-first-section-block-paragraph,
.products-first-section-block-paragraph p,
.products-first-section-scroll-link-text {
	color: #ffffff !important;
}

.products-first-section-image-wrapper {
	float: left;
}

.products-first-section-scroll-link-text {
	font-size: 17px;
  font-weight: 600;
  text-shadow: -3.1px 3.9px 12px #000000;
	margin-bottom: 16px;
}

.products-first-section-scroll-link-ico-wrapper {
	width: 37px;
	height: 18px;
}
