/* Solutions desktop styles */
@media only screen and (min-width : 1001px) {

	.solutions-blog-content {
		float: left;
		text-align: left;
		width:65%;
	}

	.solutions-blog-post_thumbnail {
		float: left;
		width:30%;
		max-width: 350px;
		text-align: center;
	}

	.solution-subpage-first-block-image-container, .first-left-container-subpage, .left-block-subpage, .right-block-subpage {
		width: 50%;
	}

	.solution-subpage-first-block-image {
		width: 39.86vw;
	}

	.second-right-container-subpage {
		width: 56%;
		float: right;
	}

	.solution-subpage-last-block {
		margin-top: 70px;
		width: 70%;
		margin-left: 15%;
		margin-right: 14%;
	}

	.solution-subpage-bottom-line {
		margin-top: 100px;
		margin-bottom: 120px;
	}

	.solution-subpage-bottom-section-column {
		width: 45%;
	}

	.solution-subpage-bottom-section-column:nth-child(2n+1) {
		margin-right: 5%;
	}

	.solution-subpage-second-block {
		padding-top: 6.4vw;
	}

	.solution-subpage-second-block-wrapper {
		width: 63vw;
	}

	.solution-subpage-gallery-block {
		padding-bottom: 5.6vw;
		padding-top: calc(5.38vw - 30px);
	}

	.solution-subpage-gallery-block-title {
		margin-bottom: 2.19vw;
		font-size: 22px;
	}

	.solution-subpage-gallery-thumbnail-wrapper {
		width: 72.87vw;
		margin-bottom: 1.94vw;
	}

	.solution-subpage-gallery-button {
		width: 16.69vw;
		height: 3.1vw;
	  font-size: 1.17vw;
	}

	.solution-subpage-gallery-button-link:not(:last-child) .solution-subpage-gallery-button {
		margin-right: 0.73vw;
	}

	.solution-subpage-gallery-button-icon {
		margin-right: 1vw;
	}

	.solution-subpage-viewprocess-placeholder {
		height: 6.4vw;
	}

}
