/* Press desktop styles */
@media only screen and (min-width: 1001px) {
	.col_press {
		padding-bottom: 55px;
	}

	.press-post {
		padding-top: 32px;
	}

	.hidden-press-contact {
		margin-top: 50px !important;
		padding: 0px 0px 0px 0px;
		background-color: #C0C0C5;
		float: right;
	}
	
	.padding-edges {
		padding-left: 0px;
		padding-right: 0px;
	}
}
