/* Search desktop styles */
.header-stick {
	padding-top: 100px;
}

.position-article {
	margin-top: 25px;
	margin-bottom: 25px;
}

.position-button-schedule {
	padding-right: 20px;
}

.table-pagination {
	width: 363px;
	margin: 0 auto;
}

.pagination-search {
	margin-top: 40px;
	margin-bottom: 65px;
}

.margin-results-search {
	margin-bottom: 35px;
}

.search-container-compact, .search-schedule-button-container {
	display: inline-block;
	float: right;
}

.search-container-compact {
	height: 48px;
	width: 354px;
	margin-right: 20px;
}

.search-panel-desktop {
	height: 75px;
}

.search-schedule-button {
  margin: -4px 24px 0px 0px !important;
}

.search-input {
	font-size: 18px;
}

.search-input-compact {
	padding-left: 18px;
}

.search-input-static {
	padding-left: 15px;
	width: calc(100% - 45px);
}

.search-button-compact {
	height: 70%;
	width: 50px;
}

.searchform-result {
	width: 554px;
	height: 50px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 30px;
}

.search-button-static {
	height: 60%;
	width: 45px;
}

.header-search {
	margin-top: 0px;
}

.search-content {

}
