/* General mobile portrait styles */
@media (max-width: 500px) and (max-aspect-ratio: 4/3) {
	.title-left-col {
		font-size:30px;
		font-weight:bold;
		padding:0px;
	}

	.footer-learn-text, .footer-links-block {
		text-align:center;
		font-size:14px;
	}

	.footer_Schedule, .footer_Copy {
		text-align:center;
	}

	.title-left-col {
		text-align:center;
	}

	#products {
		height: auto;
	}

	.widgettitle {
		color: #444;
	}

	.mc4wp-success > p {
		font-size: 20px !important;
		color: #2e2e2e;
		line-height: 1.5em !important;
	}

	.global-social-buttons-container {
		text-align: center;
		position: fixed;
		bottom: 0px;
		width: 100%;
		padding-bottom: 16px;
	}

	.my_containerSolution_indent {
		margin-left: 15px;
		margin-right: 15px;
	}

	.footer-links-block,
	.footer_Copy {
		width: 100%;
	}

	#wpadminbar {
		display:none;
	}

	.post-blog {
		margin-top: 70px;
	}

	.no-mobile-portrait-display,
	.display-only-desktop,
	.display-only-mobile-landscape,
	.display-only-tablet {
		display: none !important;
	}

	#primary-menu > ul > li {
		position: fixed;
		width: 100%;
		top: 68px;
		left: 0px;
		right: 0px;
		bottom: 60px;
	}

	#primary-menu a div {
		padding-top: 0px;
		bottom: 0px;
	}

	.menu-4 {
		height: calc(100% / 4);
	}

	.menu-5 {
		height: calc(100% / 5);
	}

	.menu-6 {
		height: calc(100% / 6);
	}

	.menu-7 {
		height: calc(100% / 7);
	}

	.menu-8 {
		height: calc(100% / 8);
	}

	.menu-4-with-search {
		height: calc((100% - 72px) / 4);
	}

	.menu-5-with-search {
		height: calc((100% - 72px) / 5);
	}

	.menu-6-with-search {
		height: calc((100% - 72px) / 6);
	}

	.menu-7-with-search {
		height: calc((100% - 72px) / 7);
	}

	.menu-8-with-search {
		height: calc((100% - 72px) / 8);
	}

	#slider {
		margin-top: 70px !important;
	}

	.menu-social-link {
		padding-right: 22px !important;
		padding-left: 22px !important;
	}
}
