/* Solutions mobile portrait and landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3), (max-width: 500px) and (max-aspect-ratio: 4/3) {
	.topmargin-lg {
		margin-top: 20px !important;
	}

	.solution-subpage-container {
		margin-left: 30px;
		margin-right: 30px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.my_containerSolution {
		padding-top: 19px;
		margin-top: 0px;
	}

	.solutions-top-title-spacing {
		margin-bottom: 11px;
	}

	.iconSolutions {
		width: 115px;
	}

	.my_boxSolution_title {
		border:0px;
	}

	.thumbnail-solutions-mobile {
		width: 100%;
		text-align: center;
	}

	.solution-subpage-first-block-image-container {
		margin-top: 30px;
	}

	.solution-subpage-first-block-image-container {
		width: 100%;
		height: auto;
	}

	.solution-subpage-section-title {
		margin-bottom: 15px;
	}

	.solution-subpage-second-block-image-container {
		position: relative;
	}

	.solution-subpage-third-block {
		height: inherit;
	}

	.solution-subpage-last-block {
		margin-top: 50px;
	}

	.solution-subpage-last-block-title, .solution-subpage-bottom-section-subtitle {
		text-align: left;
	}

	.solution-subpage-bottom-section-subtitle {
		margin-bottom: 30px;
		font-size: 17px;
    font-family: "Lato";
    font-weight: normal;
	}

	.solution-subpage-bottom-line {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	.solution-subpage-section-title {
		font-size: 28px;
	}

	.solution-use-cases-block-half {
		width:92%;
		margin: 2vw auto;
	}

	.solution-subpage-second-block {
		padding-top: 6.4vw;
	}

	.solution-subpage-second-block-wrapper {
		width: 88.28vw;
	}

	.solution-subpage-gallery-block {
		padding-bottom: 5.6vw;
		padding-top: calc(5.38vw - 30px);
	}

	.solution-subpage-gallery-block-title {
		margin-bottom: 11.25vw;
		font-size: 22px;
	}

	.solution-subpage-gallery-thumbnail-wrapper {
		width: 92.44vw;
		margin-bottom: 4vw;
	}

	.solution-subpage-gallery-button {
		width: 90.625vw;
		height: 13.44vw;
	  font-size: 5vw;
	}

	.solution-subpage-gallery-button-link:not(:last-child) .solution-subpage-gallery-button {
		margin-bottom: 2.5vw;
	}

	.solution-subpage-gallery-button-icon {
		margin-right: 3.13vw;
	}

	.solution-subpage-second-block-wrapper {
		text-align: left;
	}

	.solution-subpage-bottom-section-content {
		width: 83.28vw;
	}

	.solution-subpage-bottom-section-content p {
		text-align: left;
	}

	.solution-use-cases-block-subtitle {
		padding: 20px;	
	}

	.solution-use-cases-block-subtitle > p {
		width:100%;
	}

	.solution-use-cases-block-content{
		text-align: center;
	}

}
