/* Solutions mobile landscape styles */
.solution-image-title-container {
	text-align: center;
}

.title-left-col {
	text-align: center;
}

.solution-subpage-section-title{
	font-size: 38px;
}

.solution-use-cases-block-half {
	width:47%;
	margin-left: 1%;
	margin-right: 1%;
}

.solution-use-cases-block-subtitle > p {
	padding: 2vw;
}

.solution-subpage-second-block-wrapper {
	text-align: left !important;
}

.solution-subpage-first-block-image {
	width: 100%;
}

.solution-subpage-gallery-button {
	width: 45.312vw;
	height: 6.72vw;
	font-size: 2.5vw;
}

.solution-subpage-gallery-button-link:not(:last-child) .solution-subpage-gallery-button {
	margin-right: 1.3vw;
}

.solution-subpage-gallery-block-title {
	margin-bottom: 5vw;
	font-size: 22px;
}
