/* Resources mobile portrait and landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3), (max-width: 500px) and (max-aspect-ratio: 4/3) {
	.resource-link {
		font-size: 18px;
	}
	
	.submit-resource-form-button {
		background-size: contain;
		background-repeat: no-repeat;
		max-width: 200px !important;
		max-height: 46px !important;
	}
}
