/* Blog Mobile landscape styles */
@media (max-width: 1000px) and (orientation: landscape) {
	.subscribe-block-tablet-mobile {
		height: 120px;
	}

	#aside-blog {
		display: none;
	}

	.shareIcons-mobile {
		display: block;
	}

	.post-blog {
		margin-top: 0px;
	}

	.subscribe-block-tablet-mobile {
		padding-left: 5px !important;
    padding-right: 15px !important;
	}
	
	.subscribe-block-tablet-mobile {
		padding: 40px 25px 20px 30px;
		margin: 0px auto;
		height: 120px;
		width: 100%;
		text-align: center;
		font-size: 18px;
	}
	
	.subscribe-input-container {
		overflow: hidden;
		width: 100%;
		padding-right: 0px;
	}

	.subscribe-email {
		height: 49px;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
		width: 280px;
	}
}
