/* General Mobile landscape styles */
@media (max-width: 1000px) and (orientation: landscape) {
	#primary-menu-trigger {
		top: 10px;
	}

	.hide-landscape-mobile {
		display: none;
	}

	#header {
		border: 0px;
	}

	.global-social-buttons-container {
		position: static;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
	}

	#header {
		position: relative !important;
	}

	.btnInside {
		width: 400px;
	}

	#primary-menu-trigger {
		top: 10px;
	}

	.no-mobile-landscape-display,
	.display-only-mobile-portrait,
	.display-only-desktop,
	.display-only-tablet {
		display: none !important;
	}

	#primary-menu a div {
		height: 70px;
	}

	#primary-menu a:last-of-type div {
		margin-bottom: 25px;
	}
}
