/* Solutions mobile landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3) {
	.solution-image-title-container {
		text-align: center;
	}

	.title-left-col {
		text-align: center;
	}

	.solution-subpage-section-title{
		font-size: 38px; 
	}

	.solution-use-cases-block-half{
		width:100%;
	}

}
