/* Resources mobile landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3) {
	.resource-block {
		width: 48%;
		margin-left: 1%;
		margin-right: 1%;
	}

	.resources-blocks-container {
		width: 95%;
	}
}
