/* Search mobile portrait and landscape styles */
@media (max-width: 1000px) and (max-height: 500px) and (orientation: landscape), (max-width: 500px) and (orientation: portrait) {

	.position-article {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.header-stick {
		padding-top: 10px;
	}

	.searchform-compact {

	}

	.searchform-static {
		
	}

	.search-input {

	}

	.search-input-compact {

	}

	.search-input-static {
		padding-left: 12px;
		font-size: 17px;	
	}

	.search-button {

	}

	.search-button-static {
		height: 60%;
		width: 35px;
	}
	
	.search-content {
		padding-left: 10px;
		padding-right: 15px;
	}
	
	.table-pagination {
		width:100%;
		margin: 0 auto;
	}
	
	.pagination-search {
		margin-top: 10px;
		margin-bottom: 25px;
	}
	
	.padding-search {
		padding-left: 13px;
		padding-right: 13px;
		padding-bottom: 8px;
		padding-top: 8px;
	}
	
	.margin-results-search {
		margin-bottom: 20px;
	}

	.menu-search-mobile-tablet {
		height: 58px;
		width: 100%;
		background-color: #f8f8f8;
	}

	.search-container-static {
		height: 44px;
		margin-right: 12px;
		margin-left: 12px;
	}
}
