/* Press Mobile landscape styles */
@media (max-width: 1000px) and (max-height: 500px) and (orientation: landscape) {
	.press-post {
		padding-top: 16px;
	}
	
	.press-content-padding {
		padding-left: 20px;
		padding-right: 20px;
	}
}
