/* Resources mobile portrait styles */
@media (max-width: 500px) and (max-aspect-ratio: 4/3) {
	.resource-block {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	.resources-blocks-container {
		width: 94%;
	}
}
