/* Blog Mobile landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3) {
	.form-page-search {
		margin: 0 auto;
		margin-top: 30px;
	}

	.content-wrap {
		padding: 0px;
	}

	.background-search {
		margin-top: 0px;
	}

	.menu-search-mobile-tablet {
		margin-top: 14px;
	}

	.search-result-section {
		margin-top: 0px;
	}

}
