/* General Mobile landscape styles */
@media (max-width: 1000px) and (min-aspect-ratio: 4/3) {
	#primary-menu-trigger {
		top: 10px;
	}

	.hide-landscape-mobile {
		display: none;
	}

	#header {
		border: 0px;
	}

	.global-social-buttons-container {
		position: static;
		margin-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		text-align: center;
	}

	#header {
		position: relative !important;
	}

	.btnInside {
		width: 400px;
	}

	#primary-menu-trigger {
		top: 10px;
	}

	.no-mobile-landscape-display,
	.display-only-mobile-portrait,
	.display-only-desktop,
	.display-only-tablet {
		display: none !important;
	}

	#primary-menu a div {
		height: 70px;
		font-size: 18px;
	}

	#primary-menu a:last-of-type div {
		margin-bottom: 25px;
	}

	#primary-menu > ul {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 100%;
	}

	#mobile-table-search {
    top: 60px;
    position: absolute;
	}

	.global-social-buttons-list {
		padding-bottom: 18px;
	}

	#primary-menu a:first-of-type > div {
		margin-top: 30px;
	}


	.footer-learn-text, .footer_Schedule {
		text-align: center;
	}

	.footer-links-block, .footer_Copy {
		width: 100%;
		text-align: center;
	}

}
