/* Home tablet styles */
.home-diagram {

}

.home-text-2{
	margin-top:110px;
}

.video-wrap video {
	height: 100%;
}

.hr-home-sup-title {
	max-width: 600px;
}

#what {
	background-image: url("../images/4-Home/bgMap-tablet@1x.png");
	height: auto;
	min-height: 100vh;
}

