/* Solutions tablet styles */
@media (min-width: 500px) and (max-width: 1000px) and (max-aspect-ratio: 4/3) {
	.solution-subpage-container {
		margin-left: 70px;
		margin-right: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.solutions-subpage-text {
		width: 65%;
		max-width: 900px;
	}

	.solution-subpage-onlytext {
		width: inherit;
		max-width: 1000px;
		padding-right: 100px;
	}

	.solutions-subpage-thumbnail {
		float: right;
		width: 34%;
		text-align: left;
	}

	.solutions-subpage-thumbnail .size-post-thumbnail {
		height:inherit !important;
		max-width: 300px;
		height:100% !important;
		width: 100% !important;
	}

	.gallery-description-title {
		margin-bottom: 10px;
	}

	.solution-subpage-title {
		font-size: 32px;
	}

	.solution-subpage-suptitle {
		font-size: 20px;
	}

	.solution-subpage-first-block {
		width: 100%;
	}
	.solution-subpage-second-block {
		margin-top: 35px;
		width: 100%;
		min-height: 330px;
	}

	.block-link-subpage {
		height:133px;
		width: 100%;
	}

	.first-text-subpage {
		margin: 58px 25px 0px 40px;
	}

	.second-text-subpage {
		margin: 58px 25px 0px 0;
	}

	.solution-subpage-section-title {
		font-size: 30px;
	}

	.container-subpage {
		padding-right: 57px;
		padding-left: 57px;
		margin-right: auto;
		margin-left: auto;
	}

	.left-block-subpage, .right-block-subpage {
		width: 50%;
	}

	.first-left-container-subpage {
		width: 57%;
	}

	.solution-subpage-first-block-image-container {
		width: 43%;
	}

	.solution-subpage-second-block-image-container {
		width: 44%;
		float: left;
	}

	.second-right-container-subpage {
		width: 56%;
		float: right;
	}

	.solution-subpage-last-block {
		margin-top: 70px;
	}

	.solution-subpage-bottom-line {
		margin-top: 80px;
		margin-bottom: 100px;
	}

	.solution-subpage-viewproccess-block:first-child {
		border-right: 1px solid #4e4e4e;
	}

	.solution-subpage-viewproccess-block:only-child {
		width: 100%;
		border-right: 0px;
	}

	.solution-subpage-bottom-link-text {
		width: 58%;
		float: right;
	}

	.solution-subpage-section-title{
		font-size: 36px;
	}

	.solution-subpage-bottom-link-description {
		margin-bottom: 0px;
	}

	.solution-use-cases-block-half {
		width:50%;
	}

	.solution-use-cases-block-subtitle > p {
		padding: 2vw;
	}

	.solution-subpage-header {
		margin-top: 110px;
	}

	.solution-subpage-bottom-section-column:last-of-type {
			float: right;
	}

}
