/* Home tablet styles */
@media (min-width: 500px) and (max-width: 1000px) {
	.homeSupTit-with-line {
		background-color: #fff;
		z-index:2;
	}

	.home-diagram {
		padding-left: 0px;
		padding-right: 0px;
	}

	.home-text-2{
		margin-top:110px;
	}
	
	.video-wrap video {
		height: 100%;	
	}
}
