/* Tech tablet styles */
@media (min-width: 500px) and (max-width: 1000px) and (max-aspect-ratio: 4/3) {
	.tech-top-spacing {
		padding-top: 20px;
		max-width: 950px;
	}

	.tech-top-header > p {
		display: inline-block !important;
	}

	.tech-top-text {
		padding-left: 40px;
	}

	.tech-top-header {
		padding-left: 15px;
	}
}
