/* Resources tablet styles */
@media (min-width: 500px) and (max-width: 1000px) and (max-aspect-ratio: 4/3) {
	.resources-container {
		padding-top: 20px;
		padding-bottom: 60px;
	}

	.resource-block {

	}

	.resource-link {
		font-size: 20px;
	}

	.resources-blocks-container {

	}
}
