/* Portrait tablets & mobiles */
@media (max-width: 1000px) {
	#header {
		position: fixed;
		z-index: 9999;
		width: 100%;
		top:0px !important;
	}

	#primary-menu-trigger {
		position: absolute;;
		left: inherit;
		right: 0px;
		display: absolute;
		float: right;
		margin-right: 9px;
	}

	#logo {
		display: inline-block;
	}

	.menu-container {
		width: 100% !important;
	}

	.hr-home-sup-title {
		max-width: 600px;
	}

	.hide-landscape-mobile {
		display: none;
	}

	.no-mobile-scroll {
		overflow: hidden;
	}

	.global-social-buttons-separator, .form-page-search {
		margin-top: 0px;
	}

	.mc4wp-form-fields h4 {
		display: none !important;
	}

	#primary-menu a div {
		text-align: center;
		padding: 0px;
	}

	.mobile-vertical-centered {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}

}
