/* Solutions tablet styles */
@media (min-width: 500px) and (max-width: 1000px) {
	.solution-subpage-container {
		margin-top: 100px;
		margin-left: 70px;
		margin-right: 40px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.solutions-subpage-text {
		width: 65%;
		max-width: 900px;
	}

	.solution-subpage-onlytext {
		width: inherit;
		max-width: 1000px;
		padding-right: 100px;
	}

	.solutions-subpage-thumbnail {
		float: right;
		width: 34%;
		text-align: left;
	}

	.solutions-subpage-thumbnail .size-post-thumbnail {
		height:inherit !important;
		max-width: 300px;
		height:100% !important;
		width: 100% !important;
	}
	.solutions-subpage-text li, .solutions-subpage-text li span {
		font-size: 20px !important;
	}

	.solutions-subpage-text ol {
		padding-left: 30px;
	}

}
