/* Home tablet styles */
.home-video-text-h1 {
	font-size: 28.2px;
	font-weight: 900;
	line-height: 1;
	letter-spacing: 1.4px;
}

.home-block-what-wrapper {
	max-width: 50em;	
}

.home-block-what-title-wrapper {
	margin: 107px auto 62.5px;
	max-width: 52em;
}


.home-block-what-subtitle-on-line {
	font-size: 17.5px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.9px;
}

.home-block-what-title {
	font-size: 47.2px;
	font-weight: 700;
	line-height: 1.16;
	letter-spacing: 1.4px;
}

.home-block-what-subtitle {
	font-size: 15.3px;
	font-weight: 400;
	letter-spacing: 0.8px;
}

.home-block-what-item {
	margin-bottom:40px;
	min-height: 240px;
}


.home-block-what-item-icon {
	float: none;
	width: 50px;
	height: auto;
	margin: 0;
	display: block;
}

.home-block-what-item-title {
	font-size: 16.2px;
	font-weight: 700;
	line-height: 2.17;
	letter-spacing: 0.5px;
}

.home-block-what-item-text {
	font-size: 16.2px;
}

.home-block-what-col {
	width:49.5%;
	float: left;
}

/*---products section---*/

.home-block-products-title {
	font-size: 23.5px;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 1.2px;
}

.home-block-products-subtitle {
	font-size: 13.8px;
	font-weight: 400;
	letter-spacing: 0.7px;
}
/*----solutions section--*/

.home-block-solutions-title{
	font-size: 30px;
	font-weight: 400;
	line-height: 1.08;
	letter-spacing: 2.4px;
	margin-top: 92px;
}

.home-block-solutions-subtitle {
	padding:0 22vw;
}

.home-block-solutions-subtitle {
	margin-top: 12px;
	font-size: 18.2px;
	font-weight: 400;
	line-height: 1.42;
}

/*slider theme*/

.home-block-solutions-carousel-theme {
	width:505px;
	margin:61px auto 0;
}

.home-diagram {

}

.home-text-2{
	margin-top:110px;
}

.video-wrap video {
	height: 100%;
}

.hr-home-sup-title {
	max-width: 600px;
}

#what {
	background-image: url("../images/4-Home/bgMap-tablet@1x.png");
	height: auto;
	min-height: 100vh;
}

