/* Portrait tablets & mobiles */
@media (max-width: 1000px) {
	#header {
		position: fixed;
		z-index: 9999;
		width: 100%;
		top:0px !important;
	}

	#primary-menu {
		padding-bottom: 0px;
	}

	#primary-menu-trigger {
		position: inherit;
		left: 0px;
    display: inline-block;
    float: right;
	}

	#logo {
		display: inline-block;
	}

	.menu-container {
		width: 100% !important;
	}

	.hr-home-sup-title {
		max-width: 600px;
	}

	.hide-landscape-mobile {
		display: none;
	}

	.no-mobile-scroll {
		overflow: hidden;
	}

	.global-social-buttons-separator {
		margin-top: 0px;
	}

}
