/* Solutions mobile portrait styles */
@import (reference) "../helpers/sizes.less";

.solution {
	&-subpage {
		&-container {
			margin-top: 50px;
			margin-left: 30px;
			margin-right: 30px;
			padding-left: 0px;
			padding-right: 0px;
		}

		&e-text {
			width: 100%;
		}

		&-onlytext {
			width: 100%;
		}

		&-thumbnail {
			width: 100%;
			text-align: center;
		}

		&-thumbnail .size-post-thumbnail {
			height:100% !important;
			width: 100% !important;
		}

		&-gallery-button {
			width: 87.5vw;
			height: 13.44vw;
			font-size: 5vw;
		}

		&-gallery-block-title {
			font-size: 22px;
		}
	}

	&-use-cases-block-half {
		width:92%;
	}
}

.solutions-first-section {
	margin-top: @mobileMenuHeight;
}

.solutions-first-section-block-title {
	padding-top: 40px;
}

.slider-title-adjust {
	top: 20px;
}

.my_boxSolution_title {
	padding-left: 0px;
}

.iconSolutions {
	margin-right: 15px;
}
