.new-pass-confirm  {
	height: 383px;
	
	& > .modal-confirm {
		&-divider {
			margin-top: 39px;
		}
		&-text {
			margin: 38px auto 0 auto;
		}
		&-link {
			margin-top: 20px;
			margin-bottom: 0;
		}
		&-title {
		    margin-top: 31px;
		}
	}
}
