.pass-change {
	height: 484px;
	padding:45px 0;
	& > .modal-confirm {
		&-title {
			margin:0 auto;
			font-size: 25px;
			letter-spacing: 1.7px;
		}
		&-text {
			margin: 23px auto 23px auto;
		}
		&-button {
			margin-top: 14px;
		}
		&-link {
			margin-top: 25px;
			margin-bottom: 0;
		}
	}
	.current-password {
		margin-bottom: 20px;
		margin-top: 0;
	}
	.new-password {
		margin-top: 0;
		margin-bottom:0;
	}
	& .modal-form-error {
		left:105px;
	}
}