@import (reference) "signup_general.less";

.modal-signup-page {
	#page-content-bg;

	&-content-block{
		width: 89.84%;
		min-height: 463px;
		background-color: #ffffff;
		box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.08);
		margin: 28px 0px 28px 0px;
		#flex-row;
	}

	&-col {

		&-left {
			width: 51.96%;
			height: auto;
			border-right: 1px solid #e1e1e1;

			&-info {
				#defaultFontSize;
				#normal-font;
				letter-spacing: 1px;
				text-align: left;
				color: #2e2e2e;
				max-width: 360px;

				& li {
					margin-bottom: 15px;
				}
			}

			&-line {
				margin: 41px 0px 42.5px 0px;
				width: 54px;
				height: 0px;
				border-top: 1px solid #dfdfdf;
			}
		}

		&-right {
			width: 48.04%;
			height: 100%;
		}

		&-left, &-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&-logo {
		width: 281px;
		height: 84px;
	}

	&-divider {
		width: 54px;
		height: 1px;
		background-color: #dfdfdf;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
	}

	&-form {
		height: 100%;
		width: 100%;
		margin: 0px;

		&-wrapper {
			width: 370px;
		}

		&-title {
			font-size: 30px;
			font-weight: bold;
			text-transform: uppercase;
			color: #2e2e2e;
			text-align: center;
			padding-right: 30px;
			margin-right: 0px;
		}
		&-right {
			width: 48.04%;
			height: 100%;
		}

		&-input {
			width: 100%;
			height: 43px;
			background-color: #FFFFFF;
			border: solid 1px #dfdfdf;
			margin-bottom: 9px;
			padding-left: 6px;
			display: block;
			font-family: 'Lato';
			font-size: 14px;
			line-height: 0.61;
			letter-spacing: 1px;
			text-align: left;
			color: #999999;
		}

		&-input.left {
			float: left;
		}

		&-input.right {
			float: right;
		}

		&-or {
			margin-top: 20px;
			#flex-row;
			width: 100%;
			#defaultFontSize;

			&-line {
				margin-top: 0.6em;
				flex-grow: 1;
				border-top: 1px solid #dfdfdf;
			}

			&-text {
				white-space: nowrap;
				letter-spacing: 1px;
				text-align: center;
				color: #999999;
				margin: 0px 19.5px 0px 19.5px;
			}
		}

		&-text {
			#normal-font;

			&-small {
				font-size: 11px;
				line-height: 0.77;
				letter-spacing: 0.8px;
				text-align: center;
				color: #999999;
			}

			&-normal {
				#defaultFontSize;
				letter-spacing: 1px;
				text-align: center;
				color: #2e2e2e;
			}

			&-or {
				width: 100%;
				height: auto;
				margin-left: auto;
				margin-right: auto;
				padding-left: 20px;
				padding-right: 20px;
				#defaultFontSize;
				letter-spacing: 1px;
				text-align: center;
				color: #999999;
			}

			&-link {
				display: block;
				width: 100px;
				margin-right: auto;
				margin-left: auto;
				#defaultFontSize;
				line-height: 2.5;
				letter-spacing: 1px;
				text-decoration: underline!important;
				text-align: center;
				color: #0051c6;
			}
		}

		&-button {
			display: block;
			border: none;
			width: 80%;
			height: 43px;
			margin-left: auto;
			margin-right: auto;
			#defaultFontSize;
			font-weight: bold;
			line-height: 2.5;
			letter-spacing: 1px;
			text-align: center;
			color: #ffffff;
			cursor: pointer;
			#greenButtonBGColors;
		}
	}
}

.input-half {
	width: 49%;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

#lastName {
	right: 0;
}