.modal-confirm.pass-create {
	height: 361px;
	padding-top: 11px;

	.modal-confirm-title {
		font-size: 25.3px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 1.8px;
		text-align: center;
		color: #2e2e2e;
		margin-top: 36px;
	}

	.modal-confirm-text {
		width: 80%;
		margin-top: 23px;
		font-weight: 300;
		margin-bottom: 26px;
	}
	& .modal-form-error {
		left:105px;
	}
}
