.modal-confirm.pass-create {
	height: 360px;
	width: 580px;
	padding-top: 11px;

	.modal-confirm-title {
		font-size: 25.3px;
		font-weight: 600;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 1.65px;
		text-align: center;
		color: #2e2e2e;
		margin-top: 37px;
		margin-left: 4px;
	}

	.modal-confirm-text {
		letter-spacing: 1.15px;
		width: 80%;
		margin-top: 23px;
		font-weight: 300;
		margin-bottom: 26px;
		margin-left: 60px;
	}

	& .modal-form-error {
		left:105px;
	}

	.modal-confirm-divider {
		margin-top: 34px;
	}

	.modal-confirm-input {
		padding-left: 12px;
    	padding-bottom: 4px;
    	padding-top: 8px;
	}

	.modal-confirm-button {
		padding-bottom: 2px;
	}

}
