.modal-confirm.pass-res-confirm  {
	height: 383px;
	padding-top: 41px;

	& > .modal-confirm {

		&-divider {
			margin-top: 41px;
		}

		&-title {
			padding-left: 4px;
		}

		&-text {
			padding: 8px;
			margin: 28px auto 0 auto;
		}

		&-link {
			margin-top: 13px;
			margin-bottom: 0;
		}

		&-image {
			height: 93.5px;
		}
	}
}
