.center {
	text-align: center !important;
}

.left {
	text-align: left;
}

[class="center"],
.inline-block {
	display: inline-block;
}

.normal-font-20-1 {
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
}

.line-height-1 {
	line-height: 1 !important;
}

.line-height-1-5 {
	line-height: 1.5 !important;
}

.line-height-1-8 {
	line-height: 1.8 !important;
}

.section-margin-fix {
	margin-top: -1px !important;
}

.vertical-centered {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.uppercase {
	text-transform: uppercase !important;
}

.lowercase {
	text-transform: lowercase !important;
}

.capitalize {
	text-transform: capitalize !important;
}

.nott {
	text-transform: none !important;
}

.tright {
	text-align: right !important;
}

.tleft {
	text-align: left !important;
}

.fright {
	float: right !important;
}

.fleft {
	float: left !important;
}

.fnone {
	float: none !important;
}

.opacity-zero {
	opacity: 0 !important;
}
