.login-page {
	height: calc(~"100vh - 146px");
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('images/featBg-desktop@1x.png');
	background-size: contain;

	&-content-block{
		width: 89.84%;
		min-height: 463px;
		background-color: #ffffff;
  	box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.08);
		margin: 28px 0px 28px 0px;
		display: flex;
		flex-direction: row;
	}

	&-col {

		&-left {
			width: 51.96%;
			height: 100%;
			border-right: 1px solid #e1e1e1;

			&-info {
				font-family: "Lato";
				font-size: 16px;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: 1px;
				text-align: left;
				color: #2e2e2e;
			}

			&-line {
				margin: 41px 0px 42.5px 0px;
				width: 54px;
				height: 0px;
				border-top: 1px solid #dfdfdf;
			}
		}

		&-right {
			width: 48.04%;
			height: 100%;
		}

		&-left, &-right {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&-logo {
		width: 281px;
		height: 84px;
	}

	&-form {
		height: 100%;
		width: 100%;
		margin: 0px;

		&-wrapper {

		}

		&-title {

		}

		&-inputs {

		}

		&-options {

			&-signed {

				&-label {

				}

				&-checkbox {

				}

			}

			&-forgot {

				&-link {

				}
			}
		}

		&-submit-button {

		}
	}

	&-or {

		&-line {

		}

		&-text {

		}
	}

	&-sign-up {

		&-text {

		}

		&-link {

		}
	}
}
