@import (reference) "signup_general.less";

.terms {
	#page-content-bg;

	&-block {

	}

	&-content-header {

		&-title {
			font-size: 30.2px;
			font-weight: 600;
			font-style: normal;
			font-stretch: normal;
			line-height: 15.5px;
			letter-spacing: 2.1px;
			text-align: center;
			color: #2e2e2e;
		}

		&-line {

		}
	}

	&-text {
		overflow-y: hidden;
		overflow-x: auto;

		& p {
			#normal-font;
			#defaultFontSize;
			line-height: 32.5px;
			letter-spacing: 1px;
			text-align: left;
			color: #2e2e2e;
		}

		& h2 {

		}
	}
}
