.blog-page {
	&-header {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&-col {
		&s-wrapper {

		}

		&-left {

		}

		&-right {

		}
	}

	&-post-card {

		&-image {

		}

		&-content-wrapper {
			text-align: left;
			width: 100%;
		}

		&-title {
			font-family: "Lato";
		  font-weight: 300;
		  color: #0051c6;
		}

		&-author-date {
			font-family: "Lato";
		  font-weight: 500;
		  color: #999999;
		}

		&-dash {

		}

		&-text {

		}
	}

	&-subscription {

		&-block {

			&-title {
				font-family: "Lato";
			  font-weight: 600;
			  color: #ffffff;
				text-align: center;
				width: 100%;
			}
		}

	}

	&-popular {

		&-block {

			&-title {
				font-family: "Lato";
			  font-weight: 600;
			  color: #ffffff;
				text-align: center;
				width: 100%;
			}
		}

		&-post {

			&-card {
				width: 100%;
			}

			&-image {
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
			}

			&-title {

			}

			&-author-date {

			}
		}
	}
}
