/* General Common styles */

.home {

	&-learn-more-link {
	  width: 100%;
		z-index: 2;
	}

	&-section {
		width: 100%;
		overflow: hidden;
		background-size: cover;
	}

	&-first-section {

	  &-scroll-link {
	    &-wrapper {
	      cursor: pointer;
	      text-align: center;
	    }

	    &-text {
	    	font-weight: 600;
	    	text-align: center;
	    	color:#fff;
	    	text-decoration: none;

	      &:hover {
	        color:#fff;
	      	text-decoration: none;
	      }
	    }

	    &-ico-wrapper {
	      display: inline-block;
	      height: 59px;
	      text-align: center;
	      width: 37px;
	    }
	  }

	  &-text {
	    &, & p {
	      font-family: 'Lato';
	    	text-align: center;
	    	color: #ffffff;
	    }
	  }
	}

	&-second-section {
		display: flex;
    justify-content: center;
    align-items: center;

	  &-wrapper {
			display: inline-block;
	  }

	  &-header-wrapper {
			border-bottom: 1px solid #2e2e2e;
			margin-bottom: 4.5vw;
	  }

	  &-header-top {
			display: flex;
			flex-direction: row;
			justify-content: center;

	    &-line {
				display: inline-block;
				height: 1px;
				background-color: #91a4c0;
				transform: translateY(0.5em);
				width: 100%;
	    }

	    &-title {
				font-family: "Lato";
				font-weight: 700;
				text-align: center;
				color: #ffffff;
				line-height: 1em;
	    }
	  }

	  &-title {
			font-family: "Lato";
			font-weight: 700;
			text-align: center;
			color: #4ddb5a;
	  }

	  &-subtitle {
			font-family: "Lato";
			font-weight: 400;
			text-align: center;
			color: #ffffff;
	  }

	  &-content-wrapper {

	  }

		&-row {

		}

		&-block {

			&-title {
				color: #ffffff;
			}

			&-content {
				color: #a9d8dd;
			}
		}

		&-icon-wrapper {
			width: 3.33vw;
			height: 3.33vw;
		}

		&-icon {
			width: 100%;
			height: 100%;
		}
	}

	&-third-section {

		&-wrapper {

		}

		&-title {

		}

		&-image-wrapper {

		}

		&-image {

		}

		&-bottom-part {
			&-wrapper {

			}

			&-text {

			}
		}

		&-button {

		}
	}

	&-fourth-section {
		&-wrapper {

		}

		&-header-wrapper {

		}

		&-title {

		}

		&-subtitle {

		}

		&-link {

		}

		&-carousel {
			&-wrapper {

			}

			&-slide {

			}

			&-image-wrapper {

			}

			&-text {
				&-wrapper {

				}

				&-caption {

					&-wrapper {

					}
				}

				&-content {

					&-wrapper {

					}

					&-line {

					}
				}
			}

			&-link-more {

			}
		}
	}

	&-fifth-section {

		&-wrapper {

		}

		&-header-wrapper {

		}

		&-dash {

		}

		&-title {

		}

		&-subtitle {

		}

		&-logo {
			&s-wrapper {

			}


		}
	}

}
