/* General Common styles */

.home-first-section {

  &-scroll-link {
    &-wrapper {
      cursor: pointer;
      text-align: center;
    }

    &-text {
      font-size: 17px;
    	font-weight: 600;
    	margin-bottom: 16px;
    	text-align: center;
    	text-shadow: -3.1px 3.9px 12px #000000;
    	color:#fff;
    	text-decoration: none;

      &:hover {
        color:#fff;
      	text-decoration: none;
      }
    }

    &-ico-wrapper {
      display: inline-block;
      height: 59px;
      text-align: center;
      width: 37px;
    }
  }

  &-text {
    &, & p {
      font-family: 'Lato';
    	text-align: center;
    	color: #ffffff;
    }
  }
}

.home-second-section {
  &-wrapper {

  }

  &-header-wrapper {

  }

  &-header-top {

    &-line {

    }

    &-title {

    }
  }

  &-title {

  }

  &-subtitle {

  }

  &-content-wrapper {

  }
}
