.singe-blog-navigation {
	display: flex;
	justify-content:space-between;

	&-previous,
	&-next {
		font-family: Lato;
		color: #2e2e2e;
	}

	&-previous-arrow {
		display: inline-block;
		background-image: url("images/blog/iconArrowPrevious-Default.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 11.5px;
		height: 21px;
		vertical-align: middle;

		&:hover {
			background-image: url("images/blog/iconArrowPrevious-Hover.svg");
		}	
	}

	&-next-arrow {
		display: inline-block;
		background-image: url("images/blog/iconArrowNext-Default.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 11.5px;
		height: 21px;
		vertical-align: middle;

		&:hover {
			background-image: url("images/blog/iconArrowNext-Hover.svg");
		}	
	}

}

