/* Products Common styles */

.products {
	&-section {
		background-size: cover;

		& ul {
			list-style-type: none;

			& li {
				display:block;
				padding-left: 20px;
			}
			& li::before {
		        display:inline-block;
		        width: 10px;
		        content: "•";
		        color:#4ddb5a;
		        margin-right: 10px;
		        margin-left: -20px;
			}
		}
	}

	&-first-section {
		&-block {
			background-color: rgba(77, 219, 90, 0.7);
		}

		&-image {
			max-height: inherit;

			&-wrapper {
				display: inline-block;
				height: 100%;
			}

		}

		&-content {

			&-title {
				color: #ffffff !important;
			}

			&-text {
				display: inline-block;

				&, & p {
					color: #ffffff !important;
				}
			}
		}

		&-scroll-link {

			&-text {
				color: #ffffff !important;
			}

			&-wrapper {
				cursor: pointer;
				text-align: center;
			}
		}
	}

	&-second-section {
		background-size: contain;
		background-repeat: repeat;
		display: flex;
	  align-items: center;

		&-title {

		}

		&-text {
			color: #2e2e2e;
		}

	}

	&-third-section {

		&-title {
			color: #ffffff !important;
			font-family: "Lato";
			font-weight: 300;
		}

		&-subtitle {

		}

		&-line {
			background-color: #ffffff;
		}

		&-text {

			&, & p, & li {
				color: #a9d8dd !important;
			}

			& li:last-child {
				margin-bottom: 0.5em !important;
			}

			& ul {
				margin-bottom: 0px !important;
			}
		}

	}

	&-fourth-section {
		background-size: contain;
		background-repeat: repeat;

		&-title {
			font-family: "Lato";
			font-weight: 300;
		  color: #2adc3a;
		}

		&-subtitle {

		}

		&-line {
			background-color: #ffffff;
		}

	}

	&-fifth-section {


		&-title {
			font-family: "Lato";
			font-weight: 300;
		  color: #2adc3a;
		}

		&-subtitle {
			color: #0c3979;
		}

		&-line {
			background-color: #ffffff;
		}

		&-text {

			&, & p, & li {
				color: #a9d8dd !important;
			}
		}
	}

	&-last-section {

		&-title {
			color: #4ddb5a;
		}

		&-tab-logo {
			cursor: pointer;
		}

		&-text {

			&, & p, & li {
				color: #2e2e2e;
			}
		}

		&-col-title {
			color: #2e2e2e;
		}
	}
}
