/* Company Common styles */

.company-first-section-image-wrapper,
.company-first-section-block-text {
	display: inline-block;
}

.company-section {
	background-size: cover;
}
.company-second-section {
	background-size: contain;
}

.company-first-section-block-title,
.company-second-section-title,
.company-third-section-title,
.company-fourth-section-title {
	font-family: "Lato";
	font-weight: 300;
}

.company-first-section-scroll-link-wrapper {
	cursor: pointer;
	text-align: center;
}

.company-second-section {
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	&-more-trigger {
		margin-top: 2vh;
	}
	.learn-more-title {
		text-decoration: underline!important;
	}
	.learn-more-expand-icon {
		text-decoration: none!important;
		color: #0051c6;
	}
	.learn-more-close-icon {
		color: #0051c6;
		text-decoration: none!important;
	}
}

.company-first-section-block-title,
.company-first-section-block-subtitle,
.company-first-section-block-text,
.company-first-section-block-text p,
.company-first-section-block-text li,
.company-third-section-text,
.company-third-section-text p,
.company-third-section-text li {
	color: #ffffff;
}

.company-second-section-block-title,
.company-fourth-section-block-title {
	color: #0051c6;
}

.company-third-section-title {
	color: #4ddb5a;
	opacity: 0.8;
	text-align: center;
	margin-bottom: 5vh;
}
.company-third-section-row-item ul {
	list-style-type: none;
	& li {
		display:block;
		padding-left: 20px;
	}
	& li::before {
        display:inline-block;
        width: 10px;
        content: "•";
        color:#4ddb5a;
        margin-right: 10px;
        margin-left: -20px;
	}
}