/* Menu Common styles */

/* Disable searchform elems  */
.screen-reader-text {
	display: none;
}

.search-submit {
	display: none;
}

/* Style searchform  */
.search-field {
	width: 206.5px;
	height: 43px;
	background-color: #f8f8f8;
	font-family: Lato;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1.5px;
	text-align: center;
	border: none;
	background-image: url('images/icons/search.png');
	background-position: 40px 11px;
	background-size: 19px 20px;
	background-repeat: no-repeat;

}
