/* Search results Common styles */

.search-results {

	&-header {
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;

		&-title {
			font-family: "Lato";
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #f9f8f8;
		}

		&-subtitle {
			font-family: "Lato";
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #4ddb5a;
			margin-bottom: 0px;
		}
	}

	&-content {
		width: 100%;
	}

	&-form-wrapper {
		width: 100%;
	}

	&-list {

	}

	&-pagination {

	}
}
