/* Tech Common styles */
.tech {
	&-section {
		background-size: cover;
	}

	&-first-section {
		position: relative;
		
		&-image-wrapper {
			display: inline-block;
			height: 100%;
		}

		&-block {
			background-color: rgba(77, 219, 90, 0.7);

			&-title {
				font-family: "Lato";
				font-weight: 300;
				color: #ffffff;
			}

			&-subtitle {
				color: #ffffff;
			}

			&-text {
				display: inline-block;

				&,
				& p,
				& li {
					color: #ffffff;
					font-weight: 400;
				}

				& p {
					line-height: 1.8em;
				}
			}
		}

		&-scroll-link-wrapper {
			cursor: pointer;
			text-align: center;
		}

	}

	&-second-section {
		display: flex;
	  align-items: center;

		&-block {

			&-title {
				color: #0051c6;
			}
		}

		&-title {
			font-family: "Lato";
			font-weight: 300;
			color: #0051c6;
		}

	}

	&-third-section {

		&-title {
			font-family: "Lato";
			font-weight: 300;
			color: #4ddb5a;
		}

		&-text {

			&,
			& p,
			& li {
				color: #a9d8dd;
			}
		}
	}

	&-fourth-section {
		margin-bottom: -1px;

		&-title {
			font-family: "Lato";
			font-weight: 300;
			color: #0051c6;
		}

		&-block {

			&-title {
				color: #0051c6;
			}
		}
	}
}
