/* Search results Common styles */
@import "pagination/all.less";

.search-results {

	&-header {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-size: cover;

		&-title {
			font-family: "Lato";
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #f9f8f8;
		}

		&-subtitle {
			font-family: "Lato";
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #4ddb5a;
			margin-bottom: 0px;
		}
	}

	&-content {
		width: 100%;

		#pagination-all;
		&-pagination {

		}
	}

	&-form-wrapper {
		width: 100%;
	}

	&-list {
		width: 100%;
	}

	&-elem {

		&-link {
			font-weight: 300;
	    color: #0051c6;
			text-decoration: none;
		}

	  &-description {

	    &:after {
	      height: 0px;
	      width: 100%;
	      border-top: 1px solid #dfdfdf;
	      display:  inline-block;
	      content: "";
	    }
	  }

	  &-description,
	  &-title {
	    font-weight: normal;
	    font-style: normal;
	    font-stretch: normal;
	    text-align: left;
	    font-family: "Lato";
	  }
	}
}
