.singe-blog-navigation {
	display: flex;
	justify-content:space-between;

	&-previous a,
	&-next a{
		font-family: Lato;
		color: #2e2e2e;
		white-space: nowrap;
	}

	&-previous:hover a,
	&-next:hover a{
		color: #0051c6;
	}

	&-previous:hover span{
		background-image: url("images/blog/iconArrowPrevious-Hover.svg");
	}

	&-next:hover span{
		background-image: url("images/blog/iconArrowNext-Hover.svg");
	}

	&-previous-arrow {
		display: inline-block;
		margin-right: 13px;
		white-space: nowrap;
		background-image: url("images/blog/iconArrowPrevious-Default.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 11.5px;
		height: 21px;
		vertical-align: middle;
	}

	&-next-arrow {
		display: inline-block;
		margin-left: 13px;
		white-space: nowrap;
		background-image: url("images/blog/iconArrowNext-Default.svg");
		background-repeat: no-repeat;
		background-size: cover;
		width: 11.5px;
		height: 21px;
		vertical-align: middle;
	}

}

.blog-post {

	&-header{
		display: inline-block;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		background-size: cover;

		&-filter {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(rgba(12, 57, 121, .9), rgba(0, 26, 62, .9));
		}
		&-container {
			width: 100%;
			position: relative;
			z-index: 5;
			display: inline-block;
			text-align: center;
		}

		&-title {
			font-family: "Lato";
			font-weight: 300;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #f9f8f8;
			display: inline-block;

		}

		&-subtitle {
			font-family: "Lato";
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			text-align: center;
			color: #4ddb5a;
			display: inline-block;
		}


	}

	&-author-date {
		color: #999999;
		font-family: "Lato";
		font-weight: 500;
	}

	&-content {
		width: 100%;
		margin: 0;
		padding: 0;

		&,
		& p,
		& span {
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			text-align: left;
			color: #2e2e2e;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 300 !important;
			font-style: normal !important;
			font-stretch: normal !important;
			text-align: left !important;
			color: #0051c6 !important;
		}

		img {
			height: auto !important;
			max-width: 100%;
			display: inline-block;
			clear: both;
		}

		&-wrapper {
			position: relative;
		}
	}


}
