.blog-page {
	&-header {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&-col {
		&s-wrapper {
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		&-left {
			display: flex;
			flex-grow: 1;
			flex-direction: column;
		}
	}

	&-post-card {
		display: flex;
		flex-grow: 1;
		user-select: none;

		&-image {
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		&-content-wrapper {
			height: 100%;
			flex-grow: 1;
			text-align: left;
			width: 100%;
		}

		&-title {
			font-family: "Lato";
		  font-weight: 300;
			line-height: 1em;
		  color: #0051c6;
		}

		&-author-date {
			font-family: "Lato";
		  font-weight: 500;
		  color: #999999;
		}

		&-dash {
			width: 28.5px;
		  height: 0px;
		  border-top: solid 2px #0051c6;
		}

		&-text {
			font-family: "Lato";
			color: #2e2e2e;
		}
	}

	&-subscription {

		&-block {

			&-title {
				display: flex;
				font-family: "Lato";
			  font-weight: 600;
				line-height: 1em;
			  color: #ffffff;
				width: 100%;
				background-color: #2e2e2e;
				align-items: center;
				justify-content: center;
			}
		}

		&-form-wrapper {

		}

	}

	&-popular {

		&-block {

			&-title {
				display: flex;
				font-family: "Lato";
			  font-weight: 600;
			  color: #ffffff;
				line-height: 1em;
				width: 100%;
				background-color: #2e2e2e;
				align-items: center;
				justify-content: center;
			}
		}

		&-post {

			&-card {
				width: 100%;
			}

			&-image {
				width: 100%;
				height: 100%;
			}

			&-title {
				font-family: "Lato";
				line-height: 1em;
			  letter-spacing: 1px;
			  color: #2e2e2e;
			}

			&-author-date {
				font-family: "Lato";
			  color: #999999;
				line-height: 1em;
			}
		}
	}
}
