/* Custom resolutions */

@media (min-width: 1201px) and (max-width: 1266px) {
	.subscribe-block {
		width: 100%;
	}

	.blog-list {
		width: 61%;
	}

	.container-slidebar {
		width: 35%;
	}

	.search-content {
		padding-left: 25px;
		padding-right: 25px;
	}
}

@media (max-width: 767px) {

	.hidden-top-imageTech {
		display: none;
	}

	.titleInside2 {
		font-family: "Lato", serif, sans-serif;
		font-size:30px;
		font-weight:bold;
		text-transform:uppercase;
		color:#0051C6;
		text-align:left;
	}
}

@media (max-width: 664px) {
	.solutions-second-section-block-text {
		width: 100%;
		padding-right: 3vw;
		padding-top: 3vw;
	}

	.solutions-third-section-block-text {
		width: 100%;
		padding-top: 40px;
	}

	.solutions-third-section-image-wrapper {
		text-align: center;
    	width: 100%;
	}
}

/* For share botton on blog: */
@media (min-width: 1201px) and (max-width: 1300px) {
	.my_containerSolution {
		margin-left: 60px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.company-top-spacing {
		padding-top: 15px;
	}
}


@media (min-width: 1024px) and (max-width: 1300px) {
	.home-fourth-section-carousel {
		width: 65vw;
	}
}

@media (min-width: 278px) and (max-width: 310px) {
	.home-fourth-section-carousel .owl-buttons .owl-prev {
		left: -5vw;
	}

	.home-fourth-section-carousel .owl-buttons .owl-next {
		right: -5vw;
	}
}

@media (min-width: 501px) and (max-width: 662px) {
	.solutions-third-section-block-paragraph {
		padding: 0 28px;
	}
}