.resource-details {
	padding: 59px 7.65vw 46.5px 7.65vw;

	&-header {
		height: 324px;

		&-title {
			font-size: 25.2px;
			letter-spacing: 0.8px;
			margin-bottom: 20px;
		}

		&-subtitle {
			font-size: 60px;
			letter-spacing: 1.8px;
			margin-bottom: 37.5px;
		}
	}

	&-share {
		margin-bottom: 27px;

		&-wrapper {
			width: 172px;
		}
	}

	&-vimeo-video {
		width: 67.86vw;
		height: 39.68vw;
		margin-bottom: 54px;
	}

	&-description {
		font-family: "Lato";
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		text-align: left;
		color: #2e2e2e;
		margin-bottom: 50.5px;

		h1, h2, h3, h4, h5 {
			font-weight: 300;
		}
	}
}
