/* Footer desktop styles */
.footer {
	height: 146px !important;
}

.footer-top-block {
	height: 36.5%;
}

.footer-top-block {
	border-bottom: 2px solid rgba(131, 131, 131, 0.35);
}

.footer-menu-block {
	border-bottom: 1px solid rgba(131, 131, 131, 0.35);
	height: 34%;
	text-align: left;
}

.footer-top-block-left {
	width: 75%;
}

.footer-top-block-right {
	width: 25%;
}

.footer-top-text {
	font-size: 14px;
	letter-spacing: 0.7px;
	font-weight: normal;
	margin-right: 4%;
	max-width: 50%;
}

.footer-subscription-form-wrapper {
	height: 65%;
}

.footer-link-col {
	width: 13.5vw;
}

.footer-link-col:first-child {
	margin-left: 22.7%;
}

.footer-main-link {
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.footer-bottom-block {
	height: 29.5%;
}

.footer-social-icon-link {
	width: 23%;
}

.footer-social-icon-link:not(:last-child) {
	margin-right: 15%;
}

.footer-icons-wrapper {
	width: 46%;
	min-width: 180px;
}

.footer-copyright-wrapper {
	font-size: 11px;
	font-weight: normal;
	letter-spacing: 0.7px;
}

.footer-subscription-email {
	font-size: 14px;
	letter-spacing: 0.7px;
	padding-left: 12px;
	width: 202px;
	height: 33px;
}

.footer-subscription-button {
	font-size: 16px;
	letter-spacing: 0.8px;
	font-weight: bold;
	width: 122px;
	height: 33px;
}
.footer-subscribe-error {
    bottom: 93px;
    left: 33.75vw;
}
.footer-subscribe-arrow {
	left: 40vw;
	bottom: 86px;
}