/* Search desktop styles */
@import "pagination/desktop.less";

#search-results-elem() {
	margin-bottom: 17px;

	&-title {
		font-size: 25px;
		letter-spacing: 1.2px;
		margin-bottom: 0px;
	}

	&-description {
		letter-spacing: 0.8px;
		font-size: 16px;
		line-height: 21px;

		&:after {
			margin-top: 0px;
		}

		& > :last-child {
			margin-bottom: 13px;
		}
	}
}

.search-results {

	&-header {
		height: 324.5px;
		width: 100%;

		&-title {
			font-size: 60px;
			letter-spacing: 1.8px;
			margin-bottom: 9.5px;
		}

		&-subtitle {
			font-size: 25px;
			letter-spacing: 0.8px;
		}
	}

	&-content {
		padding: 60px 19% 31.5px 19.63%;

		#pagination-desktop;
		&-pagination {

		}
	}

	&-form-wrapper {
		margin-bottom: 53.5px;
	}

	&-list {

	}

	&-elem {
		#search-results-elem;
	}
}
