/* Search desktop styles */

.search-results {

	&-header {

		&-title {
			font-size: 60px;
			letter-spacing: 1.8px;
			margin-bottom: 20.5px;
		}

		&-subtitle {
			font-size: 25px;
			letter-spacing: 0.8px;
		}
	}

	&-content {
		padding: 60px 19.63% 31.5px 19.63%;
	}

	&-form-wrapper {
		margin-bottom: 53.5px;
	}

	&-list {

	}

	&-pagination {

	}
}
