.blog-page {

	&-header {
		height: 324px;

		&-title {
			font-size: 60px;
			letter-spacing: 1.8px;
		}

		&-suptitle {
			font-size: 25px;
			letter-spacing: 0.8px;
		}
	}

	&-col {
		&s-wrapper {
			padding: 51px 51px 34px 51px;
		}

		&-left {
			padding-right: 21px;
			width: calc(~"100% - 290px");
		}

		&-right {
			display: inline-block;
			width: 290px;
			min-width: 290px;
		}
	}

	&-post-card {
		min-height: 256px;

		&-link:not(:last-child) {
			margin-bottom: 15px;
		}

		&-image {
			width: 256px;
			min-width: 256px;
			height: ~"256px \9";
		}

		&-content-wrapper {
			padding: 28px 19px 28px 23px;
			width: calc(~"100% - 256px");
		}

		&-title {
			margin-bottom: 12px;
			font-size: 24px;
			letter-spacing: 0.7px;
		}

		&-author-date {
			margin-bottom: 19px;
			font-size: 14px;
		}

		&-dash {
			margin-bottom: 21px;
		}

		&-text {
			width: 100%;

			& p, & span {
				margin-bottom: 0px;
				font-size: 16px !important;
				width: 100%;
			}
		}
	}

	&-subscription {

		&-block {
			box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);


			&-title {
				font-size: 16px;
				height: 35px;
			}
		}

		&-form-wrapper {

			& form {

			}
		}

		&-email {
			width: 100%;
			border: solid 1px #dfdfdf !important;
			outline: 0px !important;
			border-radius: 0 !important;
			height: 43px;
			margin: 0px 0px 7px 0px;
			padding: 16px 16px 16px 16px;
		}

		&-submit-button {

		}

	}

	&-popular {

		&-block {
			box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);

			&-title {
				font-size: 16px;
				height: 35px;
			}
		}

		&-post {

			&-card {
				display: flex;
				width: 100%;
				align-items: flex-start;

				&-link {
					display: flex;
					width: calc(~"100% - 27px");
					padding: 10px 0px 10px 0px;
					margin: 0px 17px 0px 10px;
					align-items: flex-start;

					&:not(:last-child) {
						border-bottom: 1px solid #dfdfdf;
					}
				}


			}

			&-content-wrapper {
				display: inline-block;
				padding: 7px 0px 6px 10px;
				width: calc(~"100% - 65px");
				min-height: 65px;
			}

			&-image {

				&-wrapper {
					width: 65px;
					height: 65px;
					display: flex;
					align-self: center;
				}

			}

			&-title {
				font-size: 16px;
			}

			&-author-date {
				font-size: 12px;
			  letter-spacing: 0.7px;
			}
		}
	}
}
