.blog-page {
	&-header {

	}

	&-col {
		&s-wrapper {
			margin: 51px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		&-left {
			display: flex;
			margin-right: 21px;
			flex-grow: 1;
		}

		&-right {
			width: 290px;
		}
	}

	&-post-card {
		flex-grow: 1;

		&-image {

		}

		&-content-wrapper {

		}

		&-title {
			margin-bottom: 12px;
		}

		&-author-date {
			margin-bottom: 19px;
		}

		&-dash {
			width: 28.5px;
		  height: 0px;
		  background-color: #0051c6;
		  border-top: solid 2px #0051c6;
			margin-bottom: 21px;
		}

		&-text {
			font-size: 16px;
		}
	}

	&-subscription {

		&-block {

			&-title {
				font-size: 16px;
			}
		}

	}

	&-popular {

		&-block {

			&-title {
				font-size: 16px;
			}
		}

		&-post {

			&-card {

				width: 100%;
				padding-right: 19px;

				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}

			&-image {
				width: 35.34%;
				margin-right: 23px;
			}

			&-title {
				font-size: 24px;
				letter-spacing: 0.7px;
			}

			&-author-date {

			}
		}
	}
}
