.resources-list {

	&-header {

		&-title {
			font-size: 25px;
			letter-spacing: 0.6px;
		}

		&-subtitle {
			font-size: 60px;
			letter-spacing: 1.2px;
		}
	}

	&-card {
		width: 32.46%;

		&-image {

		}

		&-info {

		}

		&-category {

		}

		&-title {

		}
	}
}
