/* Menu desktop styles */
.menu-schedule-button {
	width: 206.5px;
	height: 43px;
	background-color: #0051c6;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ffffff;
}

.menu-schedule-button-wrapper {
	width: 225px;
	position: absolute;
	text-align: center;
	bottom: 20px;
	left: 0px;
}

.nav-divider-line {
	margin-bottom: 1.34vh;
	width: 206.5px;
  	height: 1px;
  	background-color: #ebebeb;
	display: inline-block;
}

#primary-menu {
	opacity: 1 !important;
	position: absolute;
	left: 0px;
	top: 36.83vh;
	/*width: 310px;*/
	margin-left: 47px;
}

#primary-menu li{
	display: inline-block;
	text-align: center;
	width: 100%;
}

#primary-menu ul, #primary-menu li, #primary-menu a, #primary-menu a > div {
	width: 100%;
	text-transform:none;
	text-decoration:none;
}

#primary-menu a {
	display: inline-block;
}

#primary-menu .menu-sublink {
	display: inline-block;
	text-transform:none;
	color:#2e2e2e;
	font-size:14px;
	text-decoration:none;
	font-weight:normal;

}

#primary-menu .menu-sublink:hover .arrow {
    opacity: 1; 
}


#primary-menu .arrow {
	color:#2e2e2e;
	display:inline-block;
	transform: scaleX(0.5);
	padding: 10px 0px 0px 0;
    font-size: 22px;
    line-height: 6px;
	opacity: 0;
	width: 14px;
	font-weight: 400;
	margin-right: 5px;
	position: relative;
    top: 3px;
}


.no-touch #primary-menu div a:hover, #primary-menu div .active {
	display: inline-block;
	text-transform:none;
	color:#2e2e2e;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}

#header {
	border-width: 0px 5px 0px 0px;
	border-style: solid;
	border-color: #5ede6a;
	border-image: linear-gradient(to bottom, #5ede6a, #5eb26a) 1 100%;
}

.desktop-menu-wrapper {
	display: inline-block;
	text-align: left;
}
