.resource-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 51px;

	&-col-left {
		width: calc(~"100% - 332.5px");
	}

	&-preview {
		font-size: 16px;
		letter-spacing: 0.5px;

		&:after {
			height: 100%;
		}

		&-download-tip {
			font-size: 16px;
			letter-spacing: 0.5px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 74px;
		}
	}

	&-download-form {

		&-header {

		}
	}

	&-share {

		&-header {
			
		}
	}
}
