/* Search desktop styles */
@import "pagination/desktop.less";

.search-results {

	&-header {
		height: 324.5px;
		width: 100%;

		&-title {
			font-size: 60px;
			letter-spacing: 1.8px;
			margin-bottom: 20.5px;
		}

		&-subtitle {
			font-size: 25px;
			letter-spacing: 0.8px;
		}
	}

	&-content {
		padding: 60px 19.63% 31.5px 19.63%;

		#pagination-desktop;
		&-pagination {

		}
	}

	&-form-wrapper {
		margin-bottom: 53.5px;
	}

	&-list {

	}

	&-elem {
		margin-bottom: 30px;

		&-title {
	    font-size: 25px;
	    letter-spacing: 1.3px;
	    margin-bottom: 10px;
	  }

	  &-description {
	    letter-spacing: 0.8px;
	    font-size: 16px;
	    line-height: 20.6px;

	    &:after {
	      margin-top: 32px;
	    }
	  }
	}
}
