/* Menu desktop styles */
.menu-schedule-button {
	width: 206.5px;
	height: 43px;
	background-color: #0051c6;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ffffff;
}

.menu-schedule-button-wrapper {
	width: 225px;
	text-align: center;
	margin-bottom: 20px;
}

.nav-divider-line {
	margin-bottom: 1.34vh;
	width: 206.5px;
	height: 1px;
	background-color: #ebebeb;
	display: inline-block;
}

.primary-menu {
	justify-content: center;
	width: auto;
	height: 100%;
	& .menu-sublink {
		display: inline-block;
		text-transform:none;
		color:#2e2e2e;
		font-size:14px;
		text-decoration:none;
		font-weight:normal;
		width: 100%;
		&:hover .arrow {
		    opacity: 1;
		}
	}
	& .arrow {
		color:#2e2e2e;
		display:inline-block;
		transform: scaleX(0.5);
		padding: 10px 0px 0px 0;
	    font-size: 22px;
	    line-height: 6px;
		opacity: 0;
		width: 14px;
		font-weight: 400;
		margin-right: 5px;
		position: relative;
	    top: 3px;
	}
	&-list {
		justify-content: center;
		align-items: flex-start;
		height: auto;
		width: auto;
		margin-left: 48px;
		& > a {
		  font-size: 16px;
		  font-weight: 600;
		  line-height: 2.19;
		  letter-spacing: 0.4px;
		  text-align: left;
	  	  text-transform: none;
		}
	}
	&-top-container {
		margin-top: 55px;
	}
	&-bottom-container {
	    margin-bottom: 14px;
	}
}

/*.no-touch .primary-menu div a:hover, .primary-menu div .active {
	display: inline-block;
	text-transform:none;
	color:#2e2e2e;
	font-size:14px;
	text-decoration:none;
	font-weight:bold;
}*/

.side-header #header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
	background-color: #FFF;
	width: 225px;
	background-color: #FFF;
}
.menu-search-field {
	width: 206.5px;
	height: 43px;
	background-color: #dfdfdf;
	text-align: center;
    display: inline-block;
}
#header {
	border-width: 0px 5px 0px 0px;
	border-style: solid;
	border-color: #5ede6a;
	border-image: linear-gradient(to bottom, #5ede6a, #5eb26a) 1 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-ms-overflow-style: none;
}

#header::-webkit-scrollbar {
    width: 0px;
}

#header-wrap {
	min-height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.desktop-menu-wrapper {
	display: inline-block;
	text-align: left;
}

.menu-sublink.active .arrow {
	opacity: 1 !important;
}

.menu-sublink.active, .menu-sublink:hover {
	font-weight: bold !important;
}

#logo {
}

.menu-container {
}
