/* Solutions mobile landscape styles */

.solution {

	&-subpage {
		&-section-title{
			font-size: 38px;
		}

		&-first-block-image {
			width: 100%;
		}

		&-second-block-wrapper {
			text-align: left !important;
		}

		&-gallery {
			&-button {
				width: 45.312vw;
				height: 6.72vw;
				font-size: 2.5vw;
			}

			&-button {
				&-link:not(:last-child) & {
					margin-right: 1.3vw;
				}
			}

			&-block-title {
				margin-bottom: 5vw;
				font-size: 22px;
			}
		}
	}

	&-image-title-container {
		text-align: center;
	}

	&-use-cases {
		&-block-half {
			width: 47%;
			margin-left: 1%;
			margin-right: 1%;
		}

		&-block-subtitle > p {
			padding: 2vw;
		}
	}
}

.title-left-col {
	text-align: center;
}
