/* Search results mobile styles */
@import "pagination/mobile.less";

.search-results {

	&-header {
		width: 100%;
		height: 127px;

		&-title {
			font-size: 18px;
			letter-spacing: 0.5px;
			margin-bottom: 7px;
		}

		&-subtitle {
			font-size: 13.2px;
			letter-spacing: 0.4px;
		}
	}

	&-content {
		padding: 31.5px 5vw 31.5px 5vw;

		#pagination-mobile;
		&-pagination {

		}
	}

	&-form-wrapper {
		margin-bottom: 53.5px;
	}

	&-list {

	}

	&-elem {
		margin-bottom: 30px;

		&-title {
	    font-size: 25px;
	    letter-spacing: 1.3px;
	    margin-bottom: 10px;
	  }

	  &-description {
	    letter-spacing: 0.8px;
	    font-size: 16px;
	    line-height: 20.6px;

	    &:after {
	      margin-top: 32px;
	    }
	  }
	}
}
