/* Home mobile portrait styles */
.home-first-section {
	margin-top: 74px;
}

.home-second-section {

	&-title {
		font-size: 6.25vw;
	}

	&-header-top-title {
		font-size: 5.3vw;
	}

	&-subtitle {
		font-size: 4vw;
	}

	&-block-title {
		font-size: 5vw;
	}

	&-block-content p {
		font-size: 5vw;
	}

}