.blog-page {
	&-header {
		height: 127px;
	}

	&-col {
		&s-wrapper {
			width: 100%;
			margin: 10px 16px 22px 8px;
		}

		&-left {
			width: 100%;
		}
	}

	&-post-card {

		&-image {

		}

		&-content-wrapper {

		}

		&-title {

		}

		&-author-date {

		}

		&-dash {

		}

		&-text {

		}
	}
}
