/* Legal mobile portrait and landscape styles */
#logo {
	margin: 10px 40px 10px 15px;
}
.primary-menu {
	justify-content: space-between;
	position: fixed;
	width: 100%;
	top: 70px;
	bottom: 0;
	right: 0;
	overflow: auto;
	opacity: 0;
	&-list {
		justify-content: space-between;
		align-items: center;
		margin-top: 24px;
		margin-bottom: 24px;
		height: auto;
		min-height: 270px;
		width: 100%;
		& > a {
		  font-size: 16px;
		  font-weight: normal;
		  line-height: 2.63;
		  letter-spacing: 0.4px;
		  text-align: center;
		}
	}
	&-close-icon {
		position: absolute;
		right: 14px;
		top:13px;
	}
	&-top-container {
		&-field {
			/*this is a field placeholder for future implementation*/
			margin-top: 11px;
			margin-right: 10px;
			margin-left: 10px;
		}
	}
}
.overflow-hide {
	overflow:hidden!important;
}