/* Home Mobile landscape styles */	
.video-wrap video {
	width: 100%;
	height: initial;
}

.home-text-2{
	margin-top: 110px;
}

.hr-home-sup-title {
	max-width: 550px;
}

.height-video-container {
	min-height: 246px !important;
}

.home-second-section {

	&-title {
		font-size: 6.25vw;
	}

	&-header-top-title {
		font-size: 5.3vw;
	}

	&-subtitle {
		font-size: 4vw;
	}

	&-block-title {
		font-size: 4vw;
	}

	&-block-content p {
		font-size: 4vw;
	}

}

