.blog-page {
	&-header {
		height: 127px;

		&-suptitle {
			font-size: 13.2px;
			letter-spacing: 0.4px;
		}

		&-title {
			font-size: 18px;
			letter-spacing: 0.5px;
		}
	}

	&-col {
		&s-wrapper {
			width: 100%;
			margin: 10px 16px 22px 8px;
		}

		&-left {
			width: 100%;
		}
	}

	&-post-card {
		min-height: 95px;

		&-link:not(:last-child) {
			margin-bottom: 10px;
		}

		&-image {

		}

		&-content-wrapper {

		}

		&-title {
			font-size: 16.2px;
  		line-height: 19.5px;
  		letter-spacing: 0.5px;
		}

		&-author-date {
			font-size: 12px;
  		letter-spacing: 0.4px;
		}
	}
}
