.resources-list {
	padding: 15px 12.5px 15px 12.5px;
	width: 100%;
	min-height: calc(~"100vh - 200px");

	&-header {
		min-height: 127px;

		&-title {
			font-size: 13.2px;
			letter-spacing: 0.4px;
			margin-bottom: 8.5px;
		}

		&-subtitle {
			font-size: 18px;
			letter-spacing: 0.5px;
		}
	}

	&-card {
		margin-bottom: 15px;

		&-link {
			width: 100%;
		}

		&-image {
			height: 58.44vw;
		}

		&-info {
			height: 44.69px;
			min-height: 143px;
		}

		&-category {
			font-size: 16.5px;
			letter-spacing: 0.4px;
			margin-bottom: 13.5px;
		}

		&-title {
			font-size: 19px;
			letter-spacing: 0.5px;
		}
	}

	&-pagination {
		margin-top: 5.5px;
		align-self: flex-end;

		.page-numbers {
			font-size: 13px;
			line-height: 0.53;
			padding: 0 20px;
		}
	}
}
