.resources-list {
	margin: 30.5px 3.3vw 30.5px 3.3vw;
	min-height: calc(~"100vh - 600px");

	&-page-wrapper .footer {
		margin-top: 0px !important;
	}

	&-header {
		min-height: 263.5px;

		&-title {
			font-size: 20px;
			letter-spacing: 0.6px;
		}

		&-subtitle {
			font-size: 40px;
			letter-spacing: 1.2px;
		}
	}

	&-card {
		margin-bottom: 25.5px;

		&-link {
			width: calc(~"50% - 2.27vw");

			&:nth-child(2n) {
				margin-right: 2.27vw;
			}
		}

		&-image {
			height: 24.35vw;
		}

		&-info {
			height: 18.62vw;
		}

		&-category {
			font-size: 16px;
			letter-spacing: 0.4px;
			margin-bottom: 13.5px;
		}

		&-title {
			font-size: 19px;
			letter-spacing: 0.5px;
		}
	}

	&-pagination {
		margin-top: 2px;
		align-self: flex-end;

		.page-numbers {
			font-size: 16px;
			line-height: 0.53;
			padding: 0 26px;
		}
	}
}
