/* Resources tablet styles */
.resource-block {
	width: 48%;
	margin-left: 1%;
	margin-right: 1%;
}

.resources-blocks-container {
	width: 95%;
}

.resource-link {
	font-size: 20px;
}
.resourse-download {
	width: 452px;
	height: 507px;
	margin:158px auto 0 auto;
	&-content-header {
	  width: 100%;
	  height: 68px;
	  background-color: #2e2e2e;
	}
	.modal-header button&-close {
		font-size: 50px;
		margin-top:-5px;
	}
	&-title {
	  font-size: 30.2px;
	  line-height: 1.36;
	  letter-spacing: 0.9px;
	}
}