/* Press tablet styles */
.primary-menu {
	justify-content: space-between;
	position: fixed;
	width: 40%;
	top: 0;
	height: 100%;
	right: -50%;
	border-left: #5ede6a solid 5px;
	overflow: auto;
	&-list {
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
		margin-bottom: 50px;
		height: auto;
		min-height: 560px;
		width: 100%;
		& > a {
		  font-size: 40px;
		  font-weight: 300;
		  line-height: 2.13;
		  letter-spacing: 1px;
		  text-align: center;
		}
	}
	&-close-icon {
		position: absolute;
		right: 14px;
		top:13px;
		width: 31px;
		height: 46px;
		cursor: pointer;
	}
	&-top-container {
		margin-top: 55px;
		padding-left: 14px;
		padding-right: 14px;
		height: auto;
		min-height: 71px;
		&-field {
			/*this is a field placeholder for future implementation*/
		}
	}
}
#menu-background {
	display: block;
	z-index: 9998;
	position: fixed;
	height: 100%;
	width: 60%;
	background: #000000;
	opacity: 0;
	top: 0;
	left: 0;
	transition: opacity 0.3s ease-in-out;
}