.blog-page {
	&-header {
		height: 264px;
	}

	&-col {
		&s-wrapper {
			margin: 25px 22px 37px 22px;
			display: flex;
			align-items: flex-start;
			justify-content: center;
		}

		&-left {
			width: 100%;
		}
	}

	&-post-card {
		height: 256px;

		&:not(:last-child) {
			margin-bottom: 15px;
		}

		&-image {
			width: 35.3%;
		}

		&-content-wrapper {
			padding: 28px 20px 28px 24px;
		}

		&-title {
			font-size: 24px;
  		letter-spacing: 0.7px;
			margin-bottom: 12.5px;
		}

		&-author-date {
			font-size: 14px;
  		letter-spacing: 0.4px;
			margin-bottom: 18.5px;
		}

		&-dash {
			margin-bottom: 21px;
		}

		&-text {
			font-size: 16px;
		}
	}
}
