.resource-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 51px;

	.block-header() {
		font-size: 16px;
		letter-spacing: 1.1px;
		height: 35px;
	}

	&-col-left {
		width: calc(~"100% - 319px");
	}

	&-preview {
		font-size: 16px;
		letter-spacing: 0.5px;

		&:after {
			height: 100%;
		}

		&-download-tip {
			font-size: 16px;
			letter-spacing: 0.5px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 74px;
		}
	}

	&-download-form {

		&-header {
			.block-header();
		}

		&-wrapper {
			padding: 12.5px 10px 12.5px 10px;
		}
	}

	&-share {
		margin-bottom: 20.5px;

		&-header {
			.block-header();
		}

		&-wrapper {
			padding: 16px 22px 16px 22px;
		}
	}
}
