.resources-list {
	margin: 30.5px 3.3vw 30.5px 3.3vw;

	&-header {
		min-height: 263.5px;

		&-title {
			font-size: 20px;
			letter-spacing: 0.6px;
		}

		&-subtitle {
			font-size: 40px;
			letter-spacing: 1.2px;
		}
	}

	&-card {
		margin-bottom: 25.5px;

		&-link {
			width: 48.8%;

		}

		&-image {
			height: 187px;
		}

		&-info {
			height: 143px;
		}

		&-category {
			font-size: 16px;
			letter-spacing: 0.4px;
			margin-bottom: 13.5px;
		}

		&-title {
			font-size: 19px;
			letter-spacing: 0.5px;
		}
	}
}
