/* Blog tablet styles */
.form-page-search {
	margin: 0 auto;
	margin-top: 150px;
}

.position-article {
	margin-top: 30px;
	margin-bottom: 30px;
}

.header-stick {
	padding-top: 20px;
}

.search-content {
	padding-left: 25px;
	padding-right: 25px;
}

.table-pagination {
	width:443px;
	margin: 0 auto;
}

.pagination-search {
	margin-top: 25px;
	margin-bottom: 45px;
}

.padding-search {
	padding: 12px 25px 10px 25px;
}

.menu-search-mobile-tablet {
	height: 73px;
	width: 100%;
	background-color: #f8f8f8;
	padding: 8px 16px 8px 16px;
	margin-top: 5px;
}

.search-input-static {
	padding-left: 18px;
	font-size: 18px;
	width: calc(~"100% - 47px");
}

.search-button-static {
	height: 60%;
	width: 47px;
}

.searchform-result {
	width: 100%;
	height: 73px;
	margin: auto;
	margin-top: 35px;
	margin-bottom: 20px;
	padding: 8px 16px 8px 16px;
	background-color: #f8f8f8;
}

a.search-post-result {
	font-size: 18px;
}

.search-result-section {
	margin-top: 81px;
}
