.blog-post {
	&-header {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 127px;
		height: auto;

		&-title {
			font-size: 18px;
			letter-spacing: 0.5px;
			margin-bottom: 7px;
			max-width: 95%;
			&, span {
				font-size: 18px;
				letter-spacing: 0.5px;
				line-height: 1.2em;
			}
		}

		&-subtitle {
			font-size: 14px;
			letter-spacing: 0.4px;
			max-width: 95%;
			&, span {
				font-size: 14px;
				letter-spacing: 0.4px;
			}
		}
	}

	&-author-date {
		font-size: 14px;
		margin-bottom: 21px;
		margin-top: 15px;
	}

	&-content-wrapper {
		padding: 0px 3.75vw 0px 2.8vw;
		margin: 0px 0px 39px 0px;

		&-line {
			background-color: #dfdfdf;
			width: 100vw;
			height: 1px;
			display: block;
			margin-left: -2.8vw;
		}

		&, & p, & span {
			font-size: 16px;
			line-height: 21.6px;
			letter-spacing: 0.5px;
		}

		h1,
		h2 {
			font-size: 37px !important; /*28pt*/
		}

		h3 {
			font-size: 31px !important; /*23pt*/
		}

		h4 {
			font-size: 27px !important; /*20pt*/
		}

		h5 {
			font-size: 24px !important; /*18pt*/
		}

		h6 {
			font-size: 24px !important; /*18pt*/
		}
	}
}
